@font-face {
  font-family: "Lato-Black";
  src: url("/fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-BlackItalic";
  src: url("/fonts/Lato-BlackItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Bold";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-BoldItalic";
  src: url("/fonts/Lato-BoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Hairline";
  src: url("/fonts/Lato-Hairline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-HairlineItalic";
  src: url("/fonts/Lato-HairlineItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Light";
  src: url("/fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-LightItalic";
  src: url("/fonts/Lato-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Regular";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Lato-Italic";
  src: url("/fonts/Lato-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  background-color: #f1f2f4; }

.trainers-carousel-header h2 {
  color: #fff; }

.well.classes-gym {
  background-image: url(../images/classes-thumbnail-m1.png);
  background-size: 220%;
  background-position: center; }

.well.classes-boxing {
  background-image: url(../images/classes-thumbnail-m2.png);
  background-size: 250%;
  background-position: 90% 0%; }

.well.classes-crossfit {
  background-image: url(../images/classes-thumbnail-m3.png);
  background-size: 200%;
  background-position: 60% 50%; }

.well.classes-yoga {
  background-image: url(../images/classes-thumbnail-w1.png);
  background-size: 220%;
  background-position: center; }

.well.classes-fitness {
  background-image: url(../images/classes-thumbnail-w2.png);
  background-size: 200%;
  background-position: 33% 0%; }

.well.classes-stretching {
  background-image: url(../images/classes-thumbnail-w3.png);
  background-size: 100%;
  background-position: 60% 50%; }

.muscles-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.009 512.009"><path d="M441.071 192.046l-3.729-.042c-52 0-98.785 29.068-122.577 74.587-14.966-6.75-31.194-10.587-48.09-10.587-27.913 0-54.163 9.952-74.945 27.285-.401-18.324-2.788-36.573-5.117-52.785-1.995-13.861-3.909-27.31-4.034-38.509l53.93.009c8.542 0 16.583-3.333 22.625-9.375l42.667-42.667c12.195-12.195 12.279-31.755.638-44.289 4.066-6.094 6.003-13.393 5.258-20.846-.948-9.573-6.083-18.135-14.094-23.469l-25.896-17.26c-12.51-8.344-27.083-12.76-42.135-12.76-31.375 0-60.865 12.219-83.052 34.406-40.866 40.864-73.022 87.656-95.605 139.083-27.208 61.958-41 107.667-41 135.844 0 16.146-1.396 29.26-4.156 38.99-5.896 20.781 3.385 42.948 22.563 53.906 76.823 43.896 164.198 67.104 252.677 67.104h15.427c54.844 0 109.031-8.792 161.063-26.135l7.469-2.5c30.531-10.167 51.052-38.635 51.052-70.823V266.765c-.001-40.167-31.824-73.688-70.939-74.719zm49.604 199.167c0 22.99-14.656 43.323-36.479 50.594l-7.469 2.5c-49.833 16.604-101.75 25.031-154.302 25.031h-15.427c-84.771 0-168.49-22.229-242.094-64.292-10.646-6.083-15.833-18.24-12.625-29.563 3.302-11.615 4.969-26.698 4.969-44.813 0-24.854 13.552-68.854 39.208-127.26 21.5-49 52.167-93.604 91.146-132.583 18.156-18.156 42.292-28.156 67.969-28.156 10.823 0 21.302 3.177 30.302 9.177l25.896 17.26c2.677 1.781 4.385 4.635 4.698 7.823.323 3.198-.802 6.323-3.063 8.594l-34.073 34.073c-3.646 3.646-9.198 4.542-13.802 2.24-3.479-1.74-5.833-4.938-6.458-8.781s.594-7.625 3.344-10.375l9.802-9.802c4.167-4.167 4.167-10.917 0-15.083-4.167-4.167-10.917-4.167-15.083 0l-9.802 9.802c-7.656 7.656-11.063 18.188-9.323 28.885 1.74 10.688 8.292 19.594 17.979 24.438 12.813 6.396 28.281 3.917 38.427-6.24l23.332-23.332c2.883 4.154 2.668 9.832-1.03 13.53l-42.667 42.667c-1.99 1.99-4.74 3.125-7.542 3.125l-49.807-.008c.669-1.107 1.311-2.246 2.182-3.117 4.167-4.167 4.167-10.917 0-15.083-4.167-4.167-10.917-4.167-15.083 0-17.448 17.448-13.208 46.938-8.302 81.083 2.542 17.729 5.177 36.063 5.177 54.458 0 43.938-33.25 53.292-34.667 53.667-5.667 1.469-9.104 7.229-7.677 12.917 1.208 4.854 5.552 8.083 10.333 8.083.854 0 1.729-.104 2.594-.323 12.772-3.191 33.703-15.448 44.224-40.589.145-.194.381-.267.516-.474 17.792-27.521 47.948-43.948 80.677-43.948 25.479 0 49.479 9.875 67.573 27.813 4.188 4.146 10.948 4.125 15.083-.063 4.146-4.188 4.125-10.938-.063-15.083-4.935-4.893-10.345-9.112-15.939-12.999 20.049-38.836 59.803-63.668 104.012-63.668l3.156.042c27.667.729 50.177 24.677 50.177 53.385v124.448z"/></svg>');
  background-position: center;
  background-repeat: no-repeat; }

.excersize-icon {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M461.339 373.584c-5.522 0-10 4.478-10 10 0 2.476-2.009 4.489-4.478 4.489H279.8c-5.522 0-10 4.478-10 10s4.478 10 10 10h167.062c13.497 0 24.478-10.986 24.478-24.489-.001-5.523-4.479-10-10.001-10zM256.179 335.874c-1.491-2.22-3.741-3.73-6.361-4.25-.649-.13-1.31-.2-1.96-.2-4.75 0-8.88 3.391-9.8 8.051-1.08 5.409 2.45 10.689 7.85 11.76.65.13 1.311.2 1.961.2 4.75 0 8.869-3.391 9.8-8.051.52-2.62-.011-5.29-1.49-7.51z"/><path d="M465.646 311.998l-69.988-28.004 10.749-69.981 10.956 4.06c1.125.417 2.302.623 3.475.623 1.761 0 3.513-.465 5.067-1.379 2.59-1.522 4.357-4.128 4.815-7.097l12.708-82.379s18.661.002 18.673.002c3.657 0 7.182-2.015 8.939-5.504l21.729-43.146c2.483-4.933.499-10.945-4.434-13.43-4.934-2.482-10.945-.499-13.43 4.434l-18.955 37.644H350.291c-5.328 0-9.671 4.171-9.971 9.425l-4.573 19.104c-1.285 5.371 2.026 10.768 7.397 12.054.782.187 1.565.276 2.336.276 4.521 0 8.619-3.085 9.718-7.674l3.156-13.185h19.52l-8.536 64.123c-.617 4.632 2.056 9.072 6.438 10.696l11.488 4.257-10.667 69.448-198.672-79.494c-4.462-1.765-8.999-3.268-13.598-4.522l-7.048-50.947h10.906c18.075 0 32.781-14.706 32.781-32.781s-14.706-32.78-32.781-32.78h-42.001L86.324 65.16c-2.781-.745-5.641-1.123-8.5-1.123-14.801 0-27.815 9.994-31.648 24.302-2.267 8.458-1.104 17.292 3.274 24.875s11.447 13.008 19.905 15.273l26.926 7.215 7.573 54.744C44.655 202.617 0 255.129 0 317.876c0 71.73 58.356 130.087 130.087 130.087h311.87c38.622 0 70.043-31.421 70.043-70.043 0-29.488-18.62-55.955-46.354-65.922zM398.05 127.841h25.144l-10.37 67.22-22.607-8.378 7.833-58.842zM74.531 109.17c-3.298-.884-6.054-2.998-7.761-5.955-1.707-2.956-2.16-6.4-1.276-9.698 1.495-5.581 6.565-9.479 12.33-9.479 1.112 0 2.229.148 3.323.441l41.133 11.022c.844.227 1.714.341 2.588.341h43.317c7.048 0 12.781 5.733 12.781 12.78 0 7.048-5.733 12.781-12.781 12.781H122.88c-.161-.01-3.303-.163-4.341-.441L74.531 109.17zm69.073 79.32c-4.468-.461-8.976-.7-13.517-.7-2.142 0-4.271.055-6.388.158l-6.487-46.896c1.52.213 5.164.352 5.413.352h14.466l6.513 47.086zm298.353 239.473H199.415c17.588-11.099 32.364-26.33 42.903-44.27 1.351-2.311 1.73-5 1.051-7.58-.671-2.59-2.301-4.76-4.61-6.11-1.53-.899-3.28-1.38-5.061-1.38-3.529 0-6.84 1.89-8.619 4.94-19.74 33.56-56.141 54.399-94.99 54.399h-.002C69.385 427.963 20 378.579 20 317.876s49.385-110.087 110.087-110.087c13.979 0 27.6 2.584 40.444 7.666l287.857 115.18.359.136C478.637 337.856 492 356.803 492 377.92c0 27.594-22.449 50.043-50.043 50.043z"/><path d="M158.459 382.404h-18.37v-64.53c0-5.51-4.49-10-10-10-5.521 0-10 4.49-10 10v74.53c0 5.51 4.479 10 10 10h28.37c5.51 0 9.989-4.49 9.989-10 0-5.521-4.479-10-9.989-10z"/><path d="M158.198 279.994c-8.26-5.54-17.859-8.47-27.77-8.47h-.08c-16.7 0-32.22 8.29-41.52 22.16-5.551 8.27-8.48 17.88-8.471 27.81 0 9.57 2.71 18.89 7.851 26.94 1.84 2.89 5 4.619 8.439 4.619 1.9 0 3.75-.54 5.37-1.569 4.64-2.96 6.01-9.15 3.061-13.79-.011-.01-.011-.01-.011-.021-3.08-4.83-4.71-10.42-4.71-16.18 0-5.95 1.761-11.71 5.08-16.66 5.57-8.32 14.9-13.29 24.95-13.31 5.95.01 11.71 1.77 16.67 5.09 8.311 5.57 13.28 14.899 13.3 24.95-.01 5.76-1.67 11.38-4.8 16.239-1.45 2.24-1.939 4.921-1.38 7.53.56 2.61 2.1 4.851 4.35 6.3 1.62 1.04 3.49 1.601 5.42 1.601 3.41 0 6.551-1.71 8.41-4.58 5.24-8.101 8-17.47 8-27.09.012-16.709-8.268-32.249-22.159-41.569z"/></svg>');
  background-position: center;
  background-repeat: no-repeat; }

.banner aside.container .yoga-banner-header {
  background-image: url(../images/bnr-lg.png);
  background-size: 100%;
  background-position: right center;
  background-repeat: no-repeat; }

.contacts-hero {
  background: url(../images/contacts-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.trainers-hero {
  background: url(../images/trainers-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

html, body {
  font-family: 'Lato-Regular';
  font-size: 16px; }

#trainersCarousel .carousel-inner .item .carousel-caption h3 {
  font-family: 'Lato-Bold';
  font-size: 25px;
  text-align: right; }

.trainers-carousel-header h2 {
  font-family: 'Lato-BlackItalic';
  font-size: 35px; }

.news-feed .news-feed-header .section-title {
  font-family: 'Lato-BlackItalic';
  font-size: 35px; }

.banner aside.container .yoga-banner-header .yoga-banner-title-sup {
  font-family: 'Lato-Regular';
  font-size: 20px; }

.banner aside.container .yoga-banner-header .yoga-banner-title {
  font-family: 'Lato-Italic';
  font-size: 35px; }
  .banner aside.container .yoga-banner-header .yoga-banner-title .title-caption {
    font-family: 'Lato-BlackItalic'; }

@-moz-document url-prefix() {
  .nav hr {
    float: left; } }

.btn-transparent {
  display: block;
  background-color: transparent; }

.btn-border {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0; }
  .btn-border:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

.btn-filled {
  background-color: #0b3a9f;
  color: #fff;
  border: 0;
  border-radius: 0; }
  .btn-filled:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }

.hero-title-sup {
  font-family: 'Lato-Regular';
  font-size: 20px;
  z-index: 5; }

.hero-title {
  font-family: 'Lato-Black';
  font-size: 50px; }
  .hero-title ~ .btn-border {
    margin-top: 3rem;
    padding: 1rem 2.25rem; }

.classes-man, .classes-woman {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.well.classes-thumbnail.classes-header {
  padding: 20px; }

.well.classes-thumbnail.classes-header .btn-transparent {
  text-align: left;
  left: 20px;
  right: 20px;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  bottom: 10px; }

.well.classes-thumbnail.classes-header .btn-transparent:after {
  content: '';
  position: absolute;
  left: 5rem;
  top: 0.75rem;
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #0b3a9f;
  border-bottom: 2px solid #0b3a9f;
  transform: rotate(-45deg); }

.section-icon {
  display: block;
  width: 38px;
  height: 38px; }

.well.classes-thumbnail {
  position: relative;
  min-width: 262px;
  height: 352px;
  margin: 95px 10px 0;
  padding: 0; }

a.well.classes-thumbnail .classes-title {
  position: absolute;
  bottom: -30px;
  display: block;
  width: 100%;
  text-align: center; }

a.well.classes-thumbnail .classes-thumbnail--overlay {
  top: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  background: linear-gradient(to top, rgba(11, 58, 159, 0.5) 0, rgba(11, 58, 159, 0.5) 100%);
  filter: saturate(2.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

a.well.classes-thumbnail:hover .classes-thumbnail--overlay {
  height: 352px;
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.trainers-carousel {
  background: url(../images/trainers_section.png);
  background-size: contain;
  margin-top: 95px;
  height: 295px; }

.trainers-carousel-header {
  width: 10%;
  float: left;
  margin-right: 5%; }
  .trainers-carousel-header .btn-filled {
    padding: 0.5rem 1.5rem; }
  .trainers-carousel-header h2 {
    margin: 3rem 0; }

#trainersCarousel {
  width: 80%;
  float: right;
  top: -30px; }

#trainersCarousel .carousel-inner > .item.active {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden; }

#trainersCarousel .carousel-inner > .item.active > .item-inner {
  position: relative;
  display: block; }

#trainersCarousel .carousel-inner .item.left.active {
  transform: translateX(-33%); }

#trainersCarousel .carousel-inner .item.right.active {
  transform: translateX(33%); }

#trainersCarousel .carousel-inner .item.next {
  transform: translateX(33%); }

#trainersCarousel .carousel-inner .item.prev {
  transform: translateX(-33%); }

#trainersCarousel .carousel-inner .item.right,
#trainersCarousel .carousel-inner .item.left {
  transform: translateX(0); }

#trainersCarousel .carousel-inner .item .item-inner {
  position: relative;
  height: 325px;
  width: 33%;
  padding-left: 5%; }
  #trainersCarousel .carousel-inner .item .item-inner img {
    position: absolute;
    height: 325px;
    left: 0;
    z-index: 10; }
    #trainersCarousel .carousel-inner .item .item-inner img ~ .carousel-caption {
      opacity: 0;
      width: 0;
      padding: 0;
      z-index: -1;
      position: relative;
      float: left;
      left: 30%;
      right: -20%;
      bottom: 20%;
      top: 30%;
      left: auto;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      display: block;
      background-color: #0b3a9f;
      border: 1px solid #fff;
      outline: 10px solid #0b3a9f; }

#trainersCarousel .carousel-inner .item.active img {
  height: 325px; }

#trainersCarousel .carousel-inner .item.active img ~ .carousel-caption {
  opacity: 0;
  left: auto;
  right: -10%; }

#trainersCarousel .carousel-inner .item.active .item-inner:hover img ~ .carousel-caption {
  opacity: 1;
  width: 90%;
  padding: 20px 20px 20px 40%;
  transition: all 0.5s ease-in-out; }

#trainersCarousel .carousel-control.left,
#trainersCarousel .carousel-control.right {
  background-image: none;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: -5%; }

#trainersCarousel .carousel-control.right {
  left: auto;
  right: 0; }

#trainersCarousel .carousel-control .glyphicon-chevron-left,
#trainersCarousel .carousel-control .glyphicon-chevron-right,
#trainersCarousel .carousel-control .icon-next,
#trainersCarousel .carousel-control .icon-prev {
  font-size: 18px;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 5px 0 0 0; }

#trainersCarousel .carousel-indicators {
  opacity: 0; }

.news-feed .news-feed-header {
  display: block;
  position: relative;
  width: 100%; }
  .news-feed .news-feed-header .section-title {
    position: relative;
    width: 263px;
    margin: 45px 0 35px 0;
    float: left; }
  .news-feed .news-feed-header .btn-filled {
    position: relative;
    float: right;
    margin: 45px 0 35px 0; }
  .news-feed .news-feed-header:after {
    content: '';
    clear: both; }

.news-feed .news-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .news-feed .news-wrapper .news-link {
    margin-right: 1.375rem;
    margin-bottom: 70px; }
    .news-feed .news-wrapper .news-link:first-child {
      align-self: flex-start; }
    .news-feed .news-wrapper .news-link:last-child {
      align-self: flex-end; }

.news-feed .news-item {
  position: relative;
  max-width: 263px;
  height: 338px; }
  .news-feed .news-item img {
    width: 100%; }
  .news-feed .news-item .news-item-description {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: 2;
    padding: 15px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff; }
    .news-feed .news-item .news-item-description .meta {
      position: relative;
      display: inline;
      width: auto; }
      .news-feed .news-item .news-item-description .meta:after {
        content: '';
        display: block;
        margin: 0 50% 0 0;
        height: 2px;
        border-bottom: 2px solid #fff; }

.banner aside.container .yoga-banner-header {
  height: 395px;
  padding: 45px; }
  .banner aside.container .yoga-banner-header .yoga-banner-title .title-caption {
    display: block; }
  .banner aside.container .yoga-banner-header .btn-filled {
    margin-top: 3rem;
    padding: 0.5rem 1.5rem; }

.reviews-carousel > .container {
  padding: 66px 15px 0; }

.reviews-carousel .reviews-header .reviews-title {
  width: 400px;
  float: left;
  margin: 0;
  font-family: 'Lato-BlackItalic'; }

.reviews-carousel .reviews-header .btn-filled {
  float: right;
  padding: 0.5rem 1.5rem; }

#reviewslider {
  margin: 0 15px; }
  #reviewslider .carousel-inner .item {
    height: 400px; }
    #reviewslider .carousel-inner .item .item-inner img {
      width: 133px;
      height: 133px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 15px;
      border: 10px solid #f1f2f4;
      z-index: 2; }
    #reviewslider .carousel-inner .item .item-inner .well {
      position: relative;
      margin-left: 75px;
      margin-top: 75px;
      margin-right: 15px;
      height: 375px; }
      #reviewslider .carousel-inner .item .item-inner .well .carousel-caption {
        position: relative;
        right: 0;
        left: 0;
        text-shadow: none;
        color: #000;
        text-align: left; }
        #reviewslider .carousel-inner .item .item-inner .well .carousel-caption .reviewer {
          margin-left: 50px;
          margin-top: 0;
          font-family: 'Lato-Bold'; }
        #reviewslider .carousel-inner .item .item-inner .well .carousel-caption .reviewer-occupation {
          margin-left: 50px;
          font-family: 'Lato-Regular'; }
        #reviewslider .carousel-inner .item .item-inner .well .carousel-caption blockquote {
          font-family: 'Lato-Light';
          font-size: 18px;
          line-height: 24px;
          border: 0; }
          #reviewslider .carousel-inner .item .item-inner .well .carousel-caption blockquote .quote {
            display: inline-block;
            font-size: 60px;
            line-height: 0px; }
            #reviewslider .carousel-inner .item .item-inner .well .carousel-caption blockquote .quote.left {
              text-indent: -20px;
              transform: translateY(23px); }
            #reviewslider .carousel-inner .item .item-inner .well .carousel-caption blockquote .quote.right {
              transform: translateY(40px); }
  #reviewslider .carousel-indicators {
    display: none; }
  #reviewslider .carousel-control {
    top: 50%;
    width: 2rem;
    height: 2rem;
    background: none;
    border: 1px solid #000;
    border-radius: 50%;
    color: #000; }
    #reviewslider .carousel-control.right {
      right: -10px; }
      #reviewslider .carousel-control.right span {
        right: 10px; }
    #reviewslider .carousel-control.left {
      left: -10px; }
      #reviewslider .carousel-control.left span {
        left: 10px; }
    #reviewslider .carousel-control span {
      font-size: 18px;
      top: 15px; }

.instagallery {
  padding-bottom: 35px; }
  .instagallery .instagallery-header {
    z-index: 2;
    background-color: #f1f2f4; }
    .instagallery .instagallery-header .instagallery-title {
      font-family: 'Lato-BlackItalic';
      font-size: 35px; }
  .instagallery .gallery-item {
    overflow: hidden; }
    .instagallery .gallery-item .gallery-thumbnail {
      width: 100%;
      margin: 15px 0; }

#map {
  width: 100%;
  height: 300px; }

.site-footer {
  background-color: #1f1f1f;
  color: #fff; }
  .site-footer .brand-title {
    color: #fff;
    top: -62px;
    display: block;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 10;
    background-color: #0b3a9f;
    font-family: 'Lato-Regular';
    font-size: 26px; }
    .site-footer .brand-title:before {
      display: none; }
  .site-footer #footerNavbar ul li a {
    color: #fff; }
    .site-footer #footerNavbar ul li a:hover {
      background-color: #0b3a9f;
      color: #fff; }
  .site-footer #footerNavbar .social-link:hover {
    background-color: inherit; }
  .site-footer .social-navbar .social-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    color: #1f1f1f;
    border-radius: 50%;
    padding-top: 2px; }
    .site-footer .social-navbar .social-icon:hover {
      background-color: #1f1f1f;
      color: #fff; }
    .site-footer .social-navbar .social-icon.insta-icon:before {
      content: '\f16d';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px; }
    .site-footer .social-navbar .social-icon.tw-icon:before {
      content: '\f099';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px; }
    .site-footer .social-navbar .social-icon.fb-icon:before {
      content: '\f09a';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 7px; }
    .site-footer .social-navbar .social-icon.youtube-icon:before {
      content: '\f167';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px; }

.hero-caption {
  position: relative; }
  .hero-caption:before {
    content: '';
    display: block;
    width: 170px;
    height: 400px;
    background-color: #0b3a9f;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }

.page-hero {
  position: relative;
  z-index: 1; }
  .page-hero .container {
    min-height: 470px;
    padding-top: 200px;
    padding-bottom: 70px;
    color: #fff; }
  .page-hero .breadcrumbs {
    padding: 15px 0;
    max-width: 50%;
    z-index: 5;
    margin-left: 100px; }
    .page-hero .breadcrumbs a {
      text-decoration: none;
      color: #fff; }
    .page-hero .breadcrumbs .breadcrumbs-divider {
      color: #fff; }
    .page-hero .breadcrumbs .breadcrumbs-current {
      color: #fff; }
  .page-hero h1.hero-title {
    width: 425px;
    max-width: 100%;
    padding: 30px 0;
    margin: 0;
    margin-left: 100px;
    z-index: 5; }
  .page-hero .hero-title-sub {
    display: block;
    width: 525px;
    max-width: 100%;
    z-index: 5;
    margin-left: 100px; }

.section.trainers-list .trainers-item {
  padding: 70px 0 0;
  background-color: #fff; }
  .section.trainers-list .trainers-item:nth-child(2n+2) {
    background-color: #f1f2f4; }
  .section.trainers-list .trainers-item .trainers-name {
    font-family: 'Lato-BlackItalic';
    font-size: 35px;
    color: #0b3a9f; }
    .section.trainers-list .trainers-item .trainers-name span {
      display: block;
      color: #000; }
  .section.trainers-list .trainers-item .trainers-motto {
    font-family: 'Lato-Regular';
    font-size: 20px; }
  .section.trainers-list .trainers-item .description {
    font-family: 'Lato-Light';
    font-size: 16px; }
  .section.trainers-list .trainers-item .trainers-stats {
    display: block; }
    .section.trainers-list .trainers-item .trainers-stats .stats-row {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      margin-bottom: 1rem; }
      .section.trainers-list .trainers-item .trainers-stats .stats-row .stat-label {
        font-family: 'Lato-Bold';
        font-size: 16px;
        width: 100px;
        display: block; }
      .section.trainers-list .trainers-item .trainers-stats .stats-row .stat-value {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start; }
        .section.trainers-list .trainers-item .trainers-stats .stats-row .stat-value > .stat-length {
          display: flex;
          margin-top: 6px;
          margin-right: 2rem;
          height: 12px;
          width: 100px;
          border-radius: 6px;
          background-color: #0b3a9f; }

.post.news-item {
  padding: 30px auto; }

#secondary .widget_recent_entries ul {
  list-style-type: none;
  padding: 0; }
  #secondary .widget_recent_entries ul li {
    display: block;
    margin-bottom: 1rem; }
    #secondary .widget_recent_entries ul li a {
      display: block;
      color: #000;
      text-decoration: none; }
      #secondary .widget_recent_entries ul li a img.post-thumbnail {
        max-width: 115px;
        float: left;
        margin-right: 0.5rem; }
      #secondary .widget_recent_entries ul li a .meta .posted-on .screen-reader-text {
        display: none; }
      #secondary .widget_recent_entries ul li a .meta .posted-on .entry-date {
        color: #bababa; }

#secondary .widget_tags ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; }
  #secondary .widget_tags ul li {
    position: relative;
    display: block;
    margin: 6px; }
  #secondary .widget_tags ul:after {
    clear: both; }

#secondary .widget_mc_mm_widget .mailchimb-widget {
  padding: 60px 15px;
  background: url(../images/subscribe-form-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center; }
  #secondary .widget_mc_mm_widget .mailchimb-widget .mailchimb-form .text {
    padding: 32px; }
  #secondary .widget_mc_mm_widget .mailchimb-widget .mailchimb-form input[type="email"] {
    width: 100%;
    border: 1px solid #0b3a9f;
    border-radius: 0;
    background: transparent;
    margin-bottom: 1rem;
    text-align: center; }
    #secondary .widget_mc_mm_widget .mailchimb-widget .mailchimb-form input[type="email"]::placeholder {
      color: #fff; }

.entry-meta .byline {
  color: #bababa;
  padding-right: 2rem; }
  .entry-meta .byline:before {
    content: '\f040';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 5px; }
  .entry-meta .byline a {
    color: #bababa;
    text-decoration: none;
    cursor: pointer; }

.entry-meta .posted-on {
  color: #bababa; }
  .entry-meta .posted-on:before {
    content: '\f073';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 5px; }
  .entry-meta .posted-on a {
    color: #bababa;
    text-decoration: none;
    cursor: pointer; }
  .entry-meta .posted-on .screen-reader-text {
    display: none; }

aside.sidebar-footer .widget_older_post {
  display: block;
  border-top: 1px solid #bababa;
  border-bottom: 1px solid #bababa; }

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .site-header .navbar-transparent {
    margin-bottom: 0;
    z-index: 1; }
    .site-header .navbar-transparent .container {
      z-index: 1; }
      .site-header .navbar-transparent .container .navbar-header {
        z-index: 1; }
        .site-header .navbar-transparent .container .navbar-header .navbar-toggle {
          z-index: 100; }
        .site-header .navbar-transparent .container .navbar-header .navbar-brand {
          position: relative;
          padding: 15px 85px;
          margin-right: 30px;
          z-index: 1; }
          .site-header .navbar-transparent .container .navbar-header .navbar-brand .brand-title {
            display: block;
            box-sizing: border-box;
            padding: 30px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100px;
            z-index: 10;
            color: #fff;
            background-color: #0b3a9f;
            font-family: 'Lato-Regular';
            font-size: 26px; }
            .site-header .navbar-transparent .container .navbar-header .navbar-brand .brand-title span {
              font-family: 'Lato-Black';
              font-size: 28px;
              line-height: 36px; }
            .site-header .navbar-transparent .container .navbar-header .navbar-brand .brand-title:hover {
              text-decoration: none; }
      .site-header .navbar-transparent .container #topNavbar {
        z-index: 10; }
        .site-header .navbar-transparent .container #topNavbar .navbar-left .navbar-tel {
          position: relative;
          font-family: 'Lato-Black';
          font-size: 18px;
          overflow: hidden;
          border-radius: 0;
          color: #fff; }
          .site-header .navbar-transparent .container #topNavbar .navbar-left .navbar-tel:hover {
            color: #fff; }
          .site-header .navbar-transparent .container #topNavbar .navbar-left .navbar-tel:before {
            content: '';
            z-index: -1;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: -150%; }
          .site-header .navbar-transparent .container #topNavbar .navbar-left .navbar-tel:hover:before {
            background-position: center;
            left: 0;
            transition: all .3s ease-in-out; }
        .site-header .navbar-transparent .container #topNavbar .navbar-right li.active a {
          display: none; }
        .site-header .navbar-transparent .container #topNavbar .navbar-right li a:hover {
          z-index: 2;
          background-color: transparent; }
        .site-header .navbar-transparent .container #topNavbar .navbar-right li hr {
          z-index: 1; }

.nav > li > a {
  color: #fff;
  background: inherit; }
  .nav > li > a:hover {
    color: #fff;
    background: inherit; }

.navbar-tel:before {
  background: linear-gradient(to right, #0b3a9f 0%, #0b3a9f 100%, rgba(11, 58, 159, 0) 150%, transparent 200%);
  background-position: -200% center;
  transition: all .3s ease-in-out; }

hr {
  height: 0.4rem;
  margin: 0;
  border: none;
  transition: .3s ease-in-out;
  display: block;
  transform: translateY(-22px);
  background: #0b3a9f; }

.carousel.vertical .carousel-inner {
  height: 100%;
  width: auto; }
  .carousel.vertical .carousel-inner > .item {
    width: 100%;
    transition: 0.6s ease-in-out top;
    max-height: 768px; }
    .carousel.vertical .carousel-inner > .item img {
      filter: brightness(0.5); }
    @media all and (transform-3d), (-webkit-transform-3d) {
      .carousel.vertical .carousel-inner > .item {
        transition: 0.6s ease-in-out; }
        .carousel.vertical .carousel-inner > .item.next, .carousel.vertical .carousel-inner > .item.active.right {
          transform: translate3d(0, 100%, 0);
          top: 0; }
        .carousel.vertical .carousel-inner > .item.prev, .carousel.vertical .carousel-inner > .item.active.left {
          transform: translate3d(0, -100%, 0);
          top: 0; }
        .carousel.vertical .carousel-inner > .item.next.left, .carousel.vertical .carousel-inner > .item.prev.right, .carousel.vertical .carousel-inner > .item.active {
          transform: translate3d(0, 0, 0);
          top: 0; } }
  .carousel.vertical .carousel-inner > .active,
  .carousel.vertical .carousel-inner > .next,
  .carousel.vertical .carousel-inner > .prev {
    display: block; }
  .carousel.vertical .carousel-inner > .active {
    top: 0; }
  .carousel.vertical .carousel-inner > .next,
  .carousel.vertical .carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%; }
  .carousel.vertical .carousel-inner > .next {
    top: 100%; }
  .carousel.vertical .carousel-inner > .prev {
    top: -100%; }
  .carousel.vertical .carousel-inner > .next.left,
  .carousel.vertical .carousel-inner > .prev.right {
    top: 0; }
  .carousel.vertical .carousel-inner > .active.left {
    top: -100%; }
  .carousel.vertical .carousel-inner > .active.right {
    top: 100%; }

.carousel.vertical .carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 15px;
  color: #fff;
  text-align: left;
  text-shadow: none; }
  .carousel.vertical .carousel-caption > .container {
    display: block;
    position: relative;
    padding-top: 200px;
    z-index: 2; }
    .carousel.vertical .carousel-caption > .container .hero-title-sup {
      margin-left: 100px;
      position: relative;
      z-index: 3; }
    .carousel.vertical .carousel-caption > .container .hero-title {
      margin-left: 100px;
      position: relative;
      z-index: 2; }
    .carousel.vertical .carousel-caption > .container .btn-border {
      margin-left: 100px;
      position: relative;
      z-index: 2; }

.carousel.vertical .carousel-indicators {
  counter-reset: slide;
  position: absolute;
  bottom: auto;
  left: auto;
  right: 0;
  top: 30%;
  z-index: 2;
  width: 60px;
  padding-left: 0;
  margin-left: auto;
  text-align: center;
  list-style: none; }
  .carousel.vertical .carousel-indicators > li {
    display: block;
    width: 1rem;
    height: 10px;
    margin-top: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    border-left: 3px solid #fff;
    border-radius: 0; }
    .carousel.vertical .carousel-indicators > li:before {
      counter-increment: slide;
      content: "0" counter(slide);
      display: block;
      opacity: 0;
      position: relative;
      float: none;
      text-indent: 0;
      font-size: 1rem;
      color: #fff;
      z-index: 10;
      width: 1rem;
      height: 2rem;
      top: -1.2rem;
      right: 0.6rem; }
  .carousel.vertical .carousel-indicators > li.active {
    border-left: 3px solid #0b3a9f;
    height: 22px;
    margin-top: 25px; }
    .carousel.vertical .carousel-indicators > li.active:before {
      counter-increment: slide;
      content: "0" counter(slide);
      display: block;
      opacity: 1;
      color: #0b3a9f; }

.carousel.vertical .carousel-control {
  display: none;
  left: auto;
  width: 50px; }
  .carousel.vertical .carousel-control.up {
    top: 0;
    right: 0;
    bottom: auto;
    height: 50px; }
  .carousel.vertical .carousel-control.down {
    top: 50px;
    right: 0;
    bottom: 0;
    height: 50px; }
  .carousel.vertical .carousel-control .icon-prev,
  .carousel.vertical .carousel-control .icon-next,
  .carousel.vertical .carousel-control .glyphicon-chevron-up,
  .carousel.vertical .carousel-control .glyphicon-chevron-down {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block; }
  .carousel.vertical .carousel-control .icon-prev,
  .carousel.vertical .carousel-control .glyphicon-chevron-up {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px; }
  .carousel.vertical .carousel-control .icon-next,
  .carousel.vertical .carousel-control .glyphicon-chevron-down {
    left: 50%;
    margin-left: -10px;
    top: 50%;
    margin-top: -10px; }
  .carousel.vertical .carousel-control .icon-up,
  .carousel.vertical .carousel-control .icon-down {
    width: 20px;
    height: 20px;
    line-height: 1;
    font-family: serif; }
  .carousel.vertical .carousel-control .icon-prev:before {
    content: '\2039'; }
  .carousel.vertical .carousel-control .icon-next:before {
    content: '\203a'; }

.template-contacts .contacts-section {
  position: relative; }
  .template-contacts .contacts-section .contacts-container {
    background-color: #fff;
    z-index: 2; }
    .template-contacts .contacts-section .contacts-container .contacts-header {
      padding: 75px 70px 0; }
      .template-contacts .contacts-section .contacts-container .contacts-header .contacts-title {
        font-family: 'Lato-BlackItalic';
        font-size: 35px;
        margin: 0;
        padding: 0;
        max-width: 410px;
        color: #000; }
    .template-contacts .contacts-section .contacts-container .contacts-wrapper {
      padding: 40px 70px 0; }
      .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list {
        max-width: 410px;
        list-style-type: none;
        margin-bottom: 0;
        padding-bottom: 25px; }
        .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link {
          font-family: 'Lato-Bold';
          font-size: 18px;
          line-height: 24px;
          text-decoration: none;
          color: #000;
          padding-bottom: 25px; }
          .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .tel {
            display: block;
            position: relative;
            padding-bottom: 25px; }
            .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .tel:before {
              content: '';
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              font-size: 1rem;
              color: #0b3a9f;
              position: absolute;
              top: 0;
              left: -25px; }
          .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .address {
            position: relative; }
            .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .address:before {
              content: '';
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              font-size: 1rem;
              color: #0b3a9f;
              position: absolute;
              top: 0;
              left: -25px; }
          .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .email {
            position: relative;
            padding-bottom: 0; }
            .template-contacts .contacts-section .contacts-container .contacts-wrapper .contacts-list .contacts-item .contacts-link .email:before {
              content: '';
              font-family: FontAwesome;
              font-style: normal;
              font-weight: normal;
              font-size: 1rem;
              color: #0b3a9f;
              position: absolute;
              top: 0;
              left: -25px; }
    .template-contacts .contacts-section .contacts-container .contactform-wrapper {
      padding: 0 70px; }
      .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm {
        max-width: 410px; }
        .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm .input-group {
          display: block; }
          .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm .input-group label {
            display: block;
            width: 410px;
            font-family: 'Lato-Light';
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 18px; }
          .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm .input-group input {
            width: 410px;
            display: block;
            margin-bottom: 30px;
            height: 47px;
            background-color: #f1f2f4;
            border: 0; }
          .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm .input-group textarea {
            width: 410px;
            margin-bottom: 25px;
            height: 196px;
            background-color: #f1f2f4;
            border: 0; }
          .template-contacts .contacts-section .contacts-container .contactform-wrapper #contactForm .input-group button {
            padding: 1rem 2.5rem;
            margin-bottom: 30px; }

.template-contacts #map {
  height: 925px; }

@media screen and (max-width: 576px) {
  .contacts-section .contacts-container {
    position: relative; } }

@media screen and (min-width: 576px) {
  .contacts-section .contacts-container {
    position: relative; } }

@media screen and (min-width: 768px) {
  .contacts-section .contacts-container {
    position: relative; } }

@media screen and (min-width: 992px) {
  .contacts-section {
    position: relative; }
    .contacts-section .contacts-container {
      position: absolute;
      top: 0;
      left: 50%; } }

@media screen and (max-width: 576px) {
  .instagallery {
    position: relative; }
    .instagallery .instagallery-header {
      width: 100%;
      height: auto;
      position: relative;
      left: auto;
      top: 0; }
    .instagallery .gallery-item {
      width: 100%;
      height: auto; } }

@media screen and (min-width: 576px) {
  .well.classes-thumbnail {
    max-width: 23%; }
  .instagallery {
    position: relative; }
    .instagallery .instagallery-header {
      width: 47vw;
      height: 47vw;
      position: relative;
      left: auto;
      top: auto; }
    .instagallery .gallery-item {
      width: 47vw;
      height: 47vw; }
      .instagallery .gallery-item:nth-child(2) {
        display: none; } }

@media screen and (min-width: 768px) {
  .well.classes-thumbnail {
    max-width: 23%; }
  .instagallery {
    position: relative; }
    .instagallery .instagallery-header {
      width: 32vw;
      height: 32vw;
      position: relative;
      left: auto;
      top: 0; }
    .instagallery .gallery-item {
      width: 32vw;
      height: 32vw; }
      .instagallery .gallery-item:nth-child(2) {
        display: none; } }

@media screen and (min-width: 992px) {
  .instagallery {
    position: relative; }
    .instagallery .instagallery-header {
      width: 16vw;
      height: 16vw;
      position: absolute;
      left: 17vw;
      top: 0; }
    .instagallery .gallery-item {
      width: 16vw;
      height: 16vw; }
      .instagallery .gallery-item:nth-child(2) {
        display: block; } }

@media screen and (min-width: 1200px) {
  .instagallery .instagallery-header {
    width: 16vw;
    height: 16vw; }
  .instagallery .gallery-item {
    width: 16vw;
    height: 16vw; } }

.classes-thumbnail img {
  max-width: 340px; }

img:after {
  content: "title"; }

.section-expand {
  min-height: 100vh; }
