@media screen and (min-width:992px){
  .instagallery{
    position: relative;
    .instagallery-header{
      width:16vw;
      height:16vw;
      position: absolute;
      left:17vw;
      top:0;
    }
    .gallery-item{
      width:16vw;
      height:16vw;
      &:nth-child(2){
        display: block;
      }
    }
  }
  .classes-man .well.classes-thumbnail:nth-child(4),
  .classes-woman .well.classes-thumbnail:nth-child(4){
    display: none;
  }
}
