.site-header{
  position: absolute;
  top: 0;
  left:0;
  right:0;
  z-index: 2;
  .navbar-transparent{
    margin-bottom: 0;
    z-index: 1;
    .container{
      z-index: 1;
      .navbar-header{
        z-index: 1;
        .navbar-toggle{
          z-index: 100;
          .icon-bar{}
        }
        .navbar-brand{
          position:relative;
          padding:15px 85px;
          margin-right: 30px;
          z-index: 1;
          .brand-title{
            display: block;
            box-sizing: border-box;
            padding:30px;
            position: absolute;
            top:0;
            left:0;
            right:0;
            height:100px;
            z-index:10;
            color:#fff;
            background-color: #0b3a9f;
            font-family: 'Lato-Regular';
            font-size: 26px;
            & span{
              font-family: 'Lato-Black';
              font-size: 28px;
              line-height: 36px;
            }
            &:hover{
              text-decoration: none;
            }
          }
        }
      }
      #topNavbar{
        z-index: 10;
        .navbar-left{
          .navbar-tel{
            position: relative;
            font-family: 'Lato-Black';
            font-size: 18px;
            overflow: hidden;
            border-radius:0;
            color:#fff;
            &:hover{
              color:#fff;
            }
            &:before{
              content: '';
              z-index: -1;
              width:100%;
              height:100%;
              position: absolute;
              top:0;
              left:-150%;
            }
            &:hover:before{
              background-position: center;
              left:0;
              transition: all .3s ease-in-out;
            }
          }
        }
        .navbar-right{
          li{
            &.active{
              a{
                display: none;
              }
            }
            a{
              &:hover{
                z-index: 2;
                background-color: transparent;
              }
              &:active{
                z-index: 2;
                background-color: transparent;
              }
              &:focus{
                z-index: 2;
                background-color: transparent;
              }
              &:visited{
                z-index: 2;
                background-color: transparent;
              }
            }
            hr{
              z-index: 1;
            }
          }
        }
      }
    }
  }
}
.nav>li>a{
  color:#fff;
  background: inherit;
  &:hover{
    color:#fff;
    background: inherit;
  }
  &:active{
    color:#fff;
  }
  &:focus{
    color:#fff;
  }
  &:visited{
    color:#fff;
  }
}
.navbar-tel:before{
  background: linear-gradient(to right, rgba(11, 58, 159, 1) 0%, rgba(11, 58, 159, 1) 100%, rgba(11, 58, 159, 0) 150%, transparent 200%);
  background-position: -200% center;
  transition: all .3s ease-in-out;
}
#primaryNav{
  position:relative;
}
#magic-line {
  position: absolute;
  top:1.677rem;
  left: 0;
  padding: 0;
  width: 100px;
  height: 8px;
  transform: translateX(15px);
  background: #0b3a9f;
}
