.btn-transparent{
  display: block;
  background-color: transparent;
}
.btn-border{
  // display: block;
  background-color: transparent;
  color:#fff;
  border:1px solid #fff;
  border-radius: 0;
  &:hover{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
  }
}
.btn-filled{
  background-color: #0b3a9f;
  color:#fff;
  border: 0;
  border-radius: 0;
  &:hover{
    color:#fff;
    text-decoration: none;
    cursor: pointer;
  }
}
.hero-title-sup{
      font-family: 'Lato-Regular';
      font-size: 20px;
      z-index: 5;
}
.hero-title{
      font-family: 'Lato-Black';
      font-size: 50px;
      & ~ .btn-border{
        margin-top: 3rem;
        padding:1rem 2.25rem;
      }
}
#heroCarousel:before{
      // content:'';
      // display: block;
      // width: 170px;
      // margin-left: -116px;
      // height:300px;
      // background: rgba(11, 58, 159, 1);
      // position: absolute;
      // z-index: -1;
      // top:-200px;
}
.classes-man, .classes-woman{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.well.classes-thumbnail.classes-header{
  padding:20px;
}
.well.classes-thumbnail.classes-header .btn-transparent{
  text-align: left;
  left:20px;
  right:20px;
  border-top:1px solid #e5e5e5;
  position: absolute;
  bottom:10px;
}
.well.classes-thumbnail.classes-header .btn-transparent:after{
  content:'';
  position: absolute;
  left: 5rem;
  top:0.75rem;
  display: block;
  width:0.5rem;
  height:0.5rem;
  border-right:2px solid #0b3a9f;
  border-bottom:2px solid #0b3a9f;
  transform: rotate(-45deg);
}
.section-icon{
  display: block;
  width:38px;
  height:38px;
}
.well.classes-thumbnail{
  position: relative;
  min-width: 262px;
  height: 352px;
  margin:95px 10px 0;
  padding: 0;
}
a.well.classes-thumbnail .classes-title{
  position: absolute;
  bottom: -30px;
  display: block;
  width:100%;
  text-align: center;
}
a.well.classes-thumbnail .classes-thumbnail--overlay{
  top:0;
  width:100%;
  height: 0;
  opacity:0;
  background: linear-gradient(to top, rgba(11, 58, 159, .5) 0, rgba(11, 58, 159, .5) 100%);
  filter:saturate(2.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a.well.classes-thumbnail:hover .classes-thumbnail--overlay{
  height: 352px;
  opacity:1;
  transition: all 0.3s ease-in-out;
}
// carousel trainers
.trainers-carousel{
  background: url(../images/trainers_section.png);
  background-size: contain;
  margin-top: 95px;
  height: 295px;
}
.trainers-carousel-header{
  width:10%;
  float: left;
  margin-right: 5%;
  & .btn-filled{
    padding:0.5rem 1.5rem;
  }
  & h2{
    margin:3rem 0;
  }
}
#trainersCarousel{
  width:80%;
  float: right;
  top:-30px;
}
#trainersCarousel .carousel-inner>.item.active{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
}
#trainersCarousel .carousel-inner>.item.active>.item-inner{
  position: relative;
  display: block;
}
#trainersCarousel .carousel-inner .item.left.active {
  transform: translateX(-33%);
}
#trainersCarousel .carousel-inner .item.right.active {
  transform: translateX(33%);
}

#trainersCarousel .carousel-inner .item.next {
  transform: translateX(33%)
}
#trainersCarousel .carousel-inner .item.prev {
  transform: translateX(-33%)
}

#trainersCarousel .carousel-inner .item.right,
#trainersCarousel .carousel-inner .item.left {
  transform: translateX(0);
}
#trainersCarousel .carousel-inner .item .item-inner{
  position: relative;
  height:325px;
  width:33%;
  padding-left: 5%;
  & img{
    position: absolute;
    height:325px;
    left:0;
    z-index: 10;
    &~ .carousel-caption{
      opacity:0;
      width:0;
      padding:0;
      z-index: -1;
      position: relative;
      float: left;
      left:30%;
      right:-20%;
      bottom: 20%;
      top:30%;
      left: auto;
      color: #fff;
      text-align: center;
      text-shadow: 0 1px 2px rgba(0,0,0,.6);
      display: block;
      background-color: #0b3a9f;
      border:1px solid #fff;
      outline: 10px solid #0b3a9f;
    }
  }
}
#trainersCarousel .carousel-inner .item.active img {
  height:325px;
}
#trainersCarousel .carousel-inner .item.active img ~ .carousel-caption{
  opacity:0;
  left:auto;
  right:-10%;
}
#trainersCarousel .carousel-inner .item.active .item-inner:hover img~ .carousel-caption{
  opacity:1;
  width:90%;
  padding:20px 20px 20px 40%;
  transition: all 0.5s ease-in-out;
}
#trainersCarousel .carousel-control.left,
#trainersCarousel .carousel-control.right {
  background-image:none;
  border:1px solid #fff;
  border-radius: 50%;
  width:2rem;
  height:2rem;
  position: absolute;
  top:50%;
  left:-5%;
}
#trainersCarousel .carousel-control.right{
  left:auto;
  right:0;
}
#trainersCarousel .carousel-control .glyphicon-chevron-left,
#trainersCarousel .carousel-control .glyphicon-chevron-right,
#trainersCarousel .carousel-control .icon-next,
#trainersCarousel .carousel-control .icon-prev{
  font-size: 18px;
  text-align: center;
  left:0;
  right:0;
  bottom:0;
  top:0;
  margin:5px 0 0 0;
}
#trainersCarousel .carousel-indicators{
  opacity: 0;
}
.news-feed .news-feed-header{
  display: block;
  position: relative;
  width: 100%;
  & .section-title{
    position: relative;
    width: 263px;
    margin: 45px 0 35px 0;
    float: left;
  }
  & .btn-filled{
    position: relative;
    float: right;
    margin: 45px 0 35px 0;
  }
  &:after{
    content:'';
    clear:both;
  }
}
.news-feed .news-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  & .news-link{
    margin-right: 1.375rem;
    margin-bottom: 70px;
    &:first-child{
      align-self: flex-start;
    }
    &:last-child{
      // margin-right:0;
      align-self: flex-end;
    }
  }
}
.news-feed .news-item{
  position: relative;
  max-width:263px;
  height: 338px;
  & img{
    width:100%;
  }
  & .news-item-description{
    position: absolute;
    left:0;
    right:0;
    top:200px;
    bottom:0;
    z-index: 2;
    padding: 15px;
    background: linear-gradient( to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
    color:#fff;
    & .meta{
      position: relative;
      display: inline;
      width:auto;
      &:after{
        content: '';
        display: block;
        margin: 0 50% 0 0;
        height:2px;
        border-bottom: 2px solid #fff;
      }
    }
  }
}

.banner{
  aside.container{
    .yoga-banner-header{
      height: 395px;
      padding: 45px;
      .yoga-banner-title-sup{}
      .yoga-banner-title{
        .title-caption{
          display: block;
        }
      }
      .btn-filled{
        margin-top: 3rem;
        padding:0.5rem 1.5rem;
      }
    }
  }
}
.reviews-carousel{
  &>.container{
    padding:66px 15px 0;
  }
  .reviews-header{
    .reviews-title{
      width:400px;
      float: left;
      margin:0;
      font-family: 'Lato-BlackItalic';
    }
    .btn-filled{
      float: right;
      padding:0.5rem 1.5rem;
    }
  }
}
#reviewslider{
  margin:0 15px;
  .carousel-inner{
    .item{
      height:400px;
      .item-inner{
        img{
          width:133px;
          height:133px;
          border-radius: 50%;
          position: absolute;
          top:0;
          left:15px;
          border:10px solid #f1f2f4;
          z-index: 2;
        }
        .well{
          position: relative;
          margin-left: 75px;
          margin-top: 75px;
          margin-right: 15px;
          height:375px;
          .carousel-caption{
            position: relative;
            right:0;
            left:0;
            text-shadow: none;
            color:#000;
            text-align: left;
            .reviewer{
              margin-left: 50px;
              margin-top: 0;
              font-family: 'Lato-Bold';
            }
            .reviewer-occupation{
              margin-left: 50px;
              font-family: 'Lato-Regular';
            }
            blockquote{
              font-family: 'Lato-Light';
              font-size: 18px;
              line-height: 24px;
              border:0;
              .quote{
                display: inline-block;
                font-size: 60px;
                line-height: 0px;
                &.left{
                  text-indent: -20px;
                  transform: translateY(23px);
                }
                &.right{
                  transform: translateY(40px);
                }
              }
            }
          }
        }
      }
    }
  }
  .carousel-indicators{
    display: none;
  }
  .carousel-control{
    top:50%;
    width:2rem;
    height:2rem;
    background: none;
    border:1px solid #000;
    border-radius: 50%;
    color:#000;
    &.right {
      right:-10px;
      & span{
        right:10px;
      }
    }
    &.left {
      left:-10px;
      span{
        left:10px;
      }
    }
    span{
      font-size: 18px;
      top:15px;
    }
  }
}
.instagallery{
  padding-bottom: 35px;
  .instagallery-header{
    z-index: 2;
    background-color: #f1f2f4;
    .instagallery-title{
      font-family: 'Lato-BlackItalic';
      font-size: 35px;
    }
  }
  .gallery-item{
    overflow:hidden;
    .gallery-thumbnail{
      width:100%;
      margin: 15px 0;
    }
  }
}
#map{
  width:100%;
  height:300px;
}
.site-footer{
  background-color: #1f1f1f;
  color:#fff;
  .brand-title{
    color:#fff;
    top:-62px;
    display: block;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 10;
    background-color: #0b3a9f;
    font-family: 'Lato-Regular';
    font-size: 26px;
    &:before{
      display: none;
    }
  }
  #footerNavbar{
    ul li a{
      color:#fff;
      &:hover{
        background-color: #0b3a9f;
        color:#fff;
      }
    }
    .social-link:hover{
      background-color: inherit;
    }
  }
  .social-navbar .social-icon{
      display: block;
      width:1.5rem;
      height:1.5rem;
      box-sizing: border-box;
      background-color: #fff;
      color:#1f1f1f;
      border-radius:50%;
      padding-top: 2px;
      &:hover{
        background-color:#1f1f1f;
        color: #fff;
      }
      &.insta-icon:before {
        content: '\f16d';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        padding-left: 5px;
      }
      &.tw-icon:before {
        content: '\f099';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        padding-left: 5px;
      }
      &.fb-icon:before {
        content: '\f09a';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        padding-left: 7px;
      }
      &.youtube-icon:before {
        content: '\f167';
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        padding-left: 5px;
      }
  }
}
.hero-caption{
  position: relative;
  &:before{
    content:'';
    display: block;
    width: 170px;
    height:400px;
    background-color: #0b3a9f;
    position:absolute;
    z-index: -1;
    top:0;
    left:0;
  }
}
.page-hero{
  position: relative;
  z-index: 1;
  .container{
    min-height: 470px;
    padding-top: 200px;
    padding-bottom:70px;
    color:#fff;
  }
  .breadcrumbs{
    padding:15px 0;
    max-width:50%;
    z-index: 5;
    margin-left: 100px;
    a{
      text-decoration:none;
      color:#fff;
    }
    .home-link{}
    .breadcrumbs-divider{
      color:#fff;
    }
    .breadcrumbs-current{
      color:#fff;
    }
  }
  h1.hero-title{
    width:425px;
    max-width:100%;
    padding:30px 0;
    margin:0;
    margin-left: 100px;
    z-index: 5;
  }
  .hero-title-sub{
    display: block;
    width:525px;
    max-width:100%;
    z-index: 5;
    margin-left: 100px;
  }
}
.section.trainers-list{
  .trainers-item{
    padding: 70px 0 0;
    background-color: #fff;
    &:nth-child(2n+2){
      background-color: #f1f2f4;
    }
    img{}
    .trainers-name{
      font-family: 'Lato-BlackItalic';
      font-size: 35px;
      color:#0b3a9f;
      span{
        display: block;
        color:#000;
      }
    }
    .trainers-motto{
      font-family: 'Lato-Regular';
      font-size: 20px;
    }
    .description{
      font-family: 'Lato-Light';
      font-size: 16px;
    }
    .trainers-stats{
      display: block;
      .stats-row{
        width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-bottom: 1rem;
        .stat-label{
          font-family: 'Lato-Bold';
          font-size:16px;
          width:100px;
          display: block;
        }
        .stat-value{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          &>.stat-length{
            display: flex;
            margin-top:6px;
            margin-right: 2rem;
            height:12px;
            width:100px;
            border-radius: 6px;
            background-color: #0b3a9f;
          }
        }
      }
    }
  }
}

.post.news-item{
  padding:30px auto;
}
// sidebar-right
#secondary{
  .widget_recent_entries{
    .widget-title{}
    ul{
      list-style-type: none;
      padding:0;
      li{
        display: block;
        margin-bottom: 1rem;
        a{
          display: block;
          color:#000;
          text-decoration: none;
          img.post-thumbnail{
            max-width:115px;
            float: left;
            margin-right: 0.5rem;
          }
          .article-header{
            .article-title{}
          }
          .meta{
            .posted-on{
              .screen-reader-text{display: none}
              .entry-date{
                color: #bababa;
              }
            }
          }
        }
      }
    }
  }
  .widget_tags{
    .widget-title{}
    ul{
      list-style-type: none;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      li{
        position: relative;
        display: block;
        margin: 6px;
        a{}
      }
      &:after{
        clear:both;
      }
    }
  }
  .widget_mc_mm_widget{
    .mailchimb-widget{
      padding:60px 15px;
      background: url(../images/subscribe-form-bg.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color:#fff;
      text-align: center;
      .widget-title{}
      .mailchimb-form{
        .text{
          padding:32px;
          p{

          }
        }
        input[type="email"]{
          width:100%;
          border:1px solid #0b3a9f;
          border-radius: 0;
          background: transparent;
          margin-bottom: 1rem;
          text-align: center;
          &::placeholder{
            color:#fff;
          }
        }
      }
    }
  }
}
.entry-meta{
  .byline{
    color:#bababa;
    padding-right: 2rem;
    &:before{
      content:'\f040';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px;
    }
    a{
      color:#bababa;
      text-decoration: none;
      cursor:pointer;
    }
  }
  .posted-on{
    color:#bababa;
    &:before{
      content:'\f073';
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      padding-left: 5px;
    }
    a{
      color:#bababa;
      text-decoration: none;
      cursor:pointer;
    }
    .screen-reader-text{display: none;}
  }
}
aside.sidebar-footer{
  .widget_tags_text{}
  .widget_repost_news{}
  .widget_older_post{
    display: block;
    border-top: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
  }
}
#comments{
  .cpmments-title{}
  .comment-list{
    .comment{}
  }
}

@import "site-header";
@import "carousel.vertical";
@import "contacts-page";
@import "trainers";
