@media screen and (max-width:576px) {
  .instagallery{
    position: relative;
    .instagallery-header{
      width:100%;
      height:auto;
      position: relative;
      left:auto;
      top:0;
    }
    .gallery-item{
      width:100%;
      height:auto;
    }
  }
  .page-hero{
    .hero-caption{
      padding-top: 100px;
      .breadcrumbs{
        margin-left: 50px;
        max-width: 75%;
      }
      .hero-title{
        margin-left: 50px;
        max-width: 75%;
        font-size: 24px;
      }
      .hero-title-sub{
        margin-left: 50px;
        max-width: 75%;
      }
    }
  }
  .contacts-section{
    .contacts-header{
      padding: 50px 40px 0 !important;
    }
    .contacts-wrapper{
      padding: 30px 0 !important;
    }
    .contactform-wrapper{
      padding: 0 !important;
      #contactForm .input-group input{
        max-width: 100%;
      }
      #contactForm .input-group textarea{
        max-width: 100%;
      }
    }
  }
  #map{
    max-height: 100vh;
  }
  .template-news-item{
    .content{
      .entry-content{
        blockquote{
          padding-left: 50px;
          .quote.left{
            left:5px;
          }
        }
      }
    }
  }
  #comments{
    .comment-respond .comment-form .comment-form-name{
      width:100%;
    }
    .comment-respond .comment-form .comment-form-email{
      width:100%;
    }
    .comment-respond .comment-form .comment-form-comment{
      margin-bottom: 2rem;
    }
  }
  .entry-meta .byline{
    display: block;
    width:100%;
  }
  .template-coach .section.row.coach-bio .trainer-bio .trainers-stats .stats-row {
    display: block;
    .stat-label{
      width:100%;
    }
  }
  #trainersCarousel{
    .item.active{
      .item-inner{
        width:50%;
      }
    }
  }
  .hero-caption:before {
    display: none;
  }
  .site-header .navbar-transparent .container .navbar-header {
    height:100px;
    .navbar-brand{
      .brand-title{
        background: linear-gradient(to right, #0b3a9f 0%, #0b3a9f 40%, transparent 40%, transparent 100%);
      }
    }
    .navbar-toggle{
      border:1px solid #fff;
      & .icon-bar{
        background-color:  #fff;
      }
      &.collapsed{
        border:1px solid #0b3a9f;
        & .icon-bar{
          background-color:  #0b3a9f;
        }
      }
    }
  }
  .site-header .navbar-transparent .container .navbar-collapse.collapsing{
    display: none;
  }
  .site-header .navbar-transparent .container .navbar-collapse.collapse{
    position: absolute;
    top:0;
    left:0;
    right:0;
    padding: 50px 30px 0;
    text-align: right;
    background-color:  #0b3a9f;
    display: none;
    &.in{
      display: block;
    }
    .navbar-left{
      display: none;
    }
    .nav li a{

    }
  }

  #heroCarousel ~ .xs-index-hero{
    padding:50px 15px;
    .hero-title-sup{}
    .hero-title{
      margin:30px 0;
      font-size: 24px;
    }
    .btn-filled{}
  }
  .news-feed{
    .news-feed-header{
      .section-title{
        margin-bottom:0;
      }
      .btn-filled{
        margin:0 0 45px 0;
      }
    }
  }
  .trainers-carousel{
    .trainers-carousel-header{
      position: relative;
      z-index: 2;
      width:1px;
      .section-title{
        margin-bottom: 150px;
      }
      .btn-filled{
        position: absolute;
        bottom:0;
      }
    }
    #trainersCarousel{
      .carousel-control{
        background-image: none;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        position: absolute;
        top: 60%;
        &.left{
          left:2rem;
        }
        &.right{
          right:-15px;
          // right:auto;
        }
      }
      .carousel-caption{
        opacity:0;
        width:0;
        left:auto;
        right:-10%;
        z-index: 21;
        bottom:0;
        top:auto;
      }
    }
  }
  #trainersCarousel .carousel-inner .item .item-inner{
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height:325px;
    width:95%;
    & img{
      position: absolute;
      height:325px;
      left:15%;
      z-index: 10;
    }
    & .carousel-caption{
        opacity:0;
        width:0;
        padding:0;
        // z-index: -1;
        position: relative;
        float: left;
        left:65%;
        right:-65%;
        bottom: 20%;
        top:30%;
        display: block;
    }
  }
  #trainersCarousel .carousel-inner .item.active img ~ .carousel-caption{
    opacity:0;
    width:0;
    left:35%;
    right:-10%;
    z-index: 21;
    bottom:0;
    top:auto;
  }
  #trainersCarousel .carousel-inner .item.active .item-inner:hover img~ .carousel-caption{
    opacity:1;
    width:50%;
    padding:10px;
    z-index: 21;
    bottom:0;
    top:60%;
    right:0;
    transition: all 0.5s ease-in-out;
  }
  .reviews-carousel{
    .reviews-header{
      .reviews-title{
        margin-bottom: 45px;
      }
    }
    .container:nth-child(2){
      padding:0;
    }
    #reviewslider{
      .item{
        .item-inner{
          padding:0;
          .well{
            margin:45px 0 0 0;
            height:auto;
            .carousel-caption .reviewer{
              text-align: right;
              max-width:50%;
              margin-left:50%;
            }
            .carousel-caption .reviewer-occupation{
              display: block;
              margin:0;
              width:100%;
              text-align: right;
            }
          }
        }
      }
    }
  }
  .section.trainers-list .trainers-item .trainers-stats .stats-row {
    display: block;
    width:inherit;
  }
  .section.trainers-list .trainers-item .btn-filled{
    margin: 2rem 0;
  }
  .training-info .schedule .tabs-wrapper input[name='tab'] + label{
    font-size: 12px;
    margin-left:-10px;
  }
  .training-info .schedule .tabs-wrapper .tab-content input[name='time'] + label{
    font-size: 12px;
    padding: 0.5rem;
  }
  .template-reviews .reviews .review-item .item-inner {
    img{
      left:-18px;
    }
    .well{
      margin:10px;
      .reviewer{
        text-align: right;
      }
      .reviewer-occupation{
        text-align: right;
      }
    }
  }
  .pagination ul{
    padding:0;
  }
  .template-classes .section.gender-filter{
    padding-top:95px;
  }
  .template-classes .section.gender-filter{
    overflow-x: hidden;
  }
  .template-classes .section.gender-filter .filter-male{
    margin:30px 0;
    padding: 30px 120px 30px 30px;
    .filter-thumbnail{
      height:107%;
      // max-width:66%;
      right:-34%;
    }
    .filter-title{
      text-align: left;
    }
    .description{
      text-align: left;
    }
  }
  .template-classes .section.gender-filter .filter-female{
    margin:30px 0;
    padding: 30px 30px 30px 120px;
    text-align: right;
    .filter-thumbnail{
      height:100%;
      // max-width:74%;
      left:-34%;
    }
  }
  @media screen and (min-width:400px) and (max-width:576px){
    .template-classes .section.gender-filter .filter-male{
      margin:30px 0;
      padding: 30px 120px 30px 30px;
      .filter-thumbnail{
        height:107%;
        // max-width:66%;
        right:-24%;
      }
      .filter-title{
        text-align: left;
      }
      .description{
        text-align: left;
      }
    }
    .template-classes .section.gender-filter .filter-female{
      margin:30px 0;
      padding: 30px 30px 30px 120px;
      text-align: right;
      .filter-thumbnail{
        height:100%;
        // max-width:74%;
        left:-24%;
      }
    }
  }
  .site-footer{
    .navbar-left{
      display: none;
    }
    .social-navbar{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .template-reviews .reviews .review-item{
    max-width: 576px;
  }
  #reviewslider .carousel-control.right span{
    right:16px;
  }
  #reviewslider .carousel-control.left span{
    left:16px;
  }
  .contacts-section .contacts-container{
    position: relative;
  }
}
