@import "fonts";
@import "colors";
@import "images";
@import "typography";

@-moz-document url-prefix() {
  .nav hr {
    float: left;
  }
}

@import "styles"; // media:all
@import "xs"; // max-width:576px
@import "sm"; // min-width:576px
@import "md"; // min-width:768px
@import "lg"; // min-width:992px
@import "xl"; // min-width:1200px

.classes-thumbnail img{
  max-width:340px;
}
img:after{
  content:"title";
}

.section-expand{
  min-height: 100vh;
}
