<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css" media='all'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/main.css" media='all'>
    <!-- <link rel="stylesheet" href="/css/xs.css" media='screen and (max-width:576px)'>
    <link rel="stylesheet" href="/css/sm.css" media='screen and (min-width:576px)'>
    <link rel="stylesheet" href="/css/md.css" media='screen and (min-width:768px)'>
    <link rel="stylesheet" href="/css/lg.css" media='screen and (min-width:992px)'>
    <link rel="stylesheet" href="/css/xl.css" media='screen and (min-width:1200px)'> -->
    <meta name="description" content="Fitness website template">
    <meta name="keywords" content="fitness, health, sports">
  </head>
  <body class='template-coach'>
    <header class="site-header">
      <nav class="navbar navbar-transparent">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <div class="navbar-brand"><a class="brand-title" href="./index.html">Fitness <br><span>CENTER</span></a></div>
          </div>
          <div class="collapse navbar-collapse" id="topNavbar">
            <div class="navbar-left">
              <a href="tel:78342321251" class="navbar-tel tel-icon btn btn-lg btn-transparent">7(834)232-12-51</a>
            </div>
            <ul id="primaryNav" class="nav navbar-nav navbar-right">
              <li><a href="./index.html">Home</a></li>
              <!-- <li><a href="./about.html">About us</a></li> -->
              <li><a href="./trainers.html">Our Trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content container-fluid">
      <section class="section row coach-hero page-hero">
        <div class="container hero-caption">
          <div class="breadcrumbs">
            <a href="/index.html" class="home-link breadcrumbs-link">Home</a>
            <span class="breadcrumbs-divider">&middot;</span>
            <a href="./trainers.html" class="breadcrumbs-link">Our Trainers</a>
            <span class="breadcrumbs-divider">&middot;</span>
            <span class="breadcrumbs-current">Victoria Kilman</span>
          </div>
          <h1 class="hero-title">Victoria Kilman</h1>
          <span class="hero-title-sub">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam accusamus architecto natus vero consequatur, minima mollitia, eos culpa impedit.
          </span>
        </div>
      </section>
      <section class="section row coach-bio">
          <div class="container">
            <div class="col-xs-12 col-md-6 trainer-thumbnail-wrapper">
              <img src="./images/trainer-1.png" alt="" class="trainer-thumbnail img-responsive">
            </div>
            <div class="col-xs-12 col-md-6 trainer-bio">
              <h2 class="trainers-name">VICTORIA <span>KILMAN</span></h2>
              <p class="lead trainers-motto">The coach will pump you full</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus, officiis repellendus unde ipsum autem rem, ullam dolorem. Obcaecati illum molestiae, fuga nihil rerum reiciendis exercitationem nam! Sit, ut totam.</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus, officiis repellendus unde ipsum autem rem, ullam dolorem. Obcaecati illum molestiae, fuga nihil rerum reiciendis exercitationem nam! Sit, ut totam.</p>
              <ul class="trainers-features">
                <li class="feature">Age<span class="feature-value">27</span></li>
                <li class="feature">Year of study<span class="feature-value">10</span></li>
                <li class="feature">Number of students<span class="feature-value">25</span></li>
              </ul>
              <div class="trainers-stats">
                <div class="stats-row"><span class="stat-label">Educability</span><span class="stat-value" data-size='95'></span></div>
                <div class="stats-row"><span class="stat-label">Expirience</span><span class="stat-value" data-size='80'></span></div>
                <div class="stats-row"><span class="stat-label">Skills</span><span class="stat-value" data-size='65'></span></div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="col-xs-12 col-md-6 trainers-career">
              <h3 class="title">Career history</h3>
              <p class="career-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia consectetur doloribus aspernatur veniam nemo? Reiciendis, in. Eveniet sint soluta minus fuga, ad omnis blanditiis maiores consectetur, quod voluptatibus culpa expedita?</p>
              <ul class="career-stages">
                <li class="career-stage">
                  <h4 class="stage-title">July 2017 - now</h4>
                  <p class="stage-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ratione deleniti molestias. Similique at accusantium perspiciatis debitis nesciunt quam reiciendis laboriosam labore ab inventore harum, officia tenetur quia quod expedita.</p>
                </li>
                <li class="career-stage">
                  <h4 class="stage-title">February 2010 - July 2017</h4>
                  <p class="stage-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor at tempora nobis, neque quasi ut autem eligendi vitae consectetur doloremque maxime, fugiat voluptates ratione voluptatum ad pariatur veritatis provident quis!</p>
                </li>
                <li class="career-stage">
                  <h4 class="stage-title">December 2008 - February 2010</h4>
                  <p class="stage-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur alias voluptate, ipsa adipisci delectus nostrum exercitationem pariatur, velit iste porro eaque facilis voluptas autem dolorem quaerat quas ullam, reiciendis ducimus.</p>
                </li>
              </ul>
            </div>
            <div class="col-xs-12 col-md-6 trainer-classes">
              <h3 class="title">Trainer Classes</h3>
              <table class="table classes-scedule">
                <thead>
                  <tr><td>Kind of training</td><td>Weekday</td><td>Price</td></tr>
                </thead>
                <tbody>
                  <tr><td>Fitness</td><td>Monday</td><td>$32.98</td></tr>
                  <tr><td>Tenis</td><td>Tuesday</td><td>$12.98</td></tr>
                  <tr><td>Box</td><td>Sunday</td><td>$91.23</td></tr>
                  <tr><td>Fitness</td><td>Monday</td><td>$65.98</td></tr>
                  <tr><td>Fitness</td><td>Tuesday</td><td>$32.98</td></tr>
                  <tr><td>Tenis</td><td>Monday</td><td>$22.98</td></tr>
                  <tr><td>Box</td><td>Tuesday</td><td>$42.98</td></tr>
                  <tr><td>Fitness</td><td>Friday</td><td>$93.15</td></tr>
                </tbody>
              </table>
            </div>
          </div>
      </section>
    </div>
    <footer class="container-fluid site-footer">
      <div class="section row map">
        <div id="map"></div>
      </div>
      <div class="section row footer-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a class="brand-title" href="#">Fitness <br><span>CENTER</span></a>
            </div>
          </div>
          <div id="footerNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/">Home</a></li>
              <!-- <li><a href="./about.html">About us</a></li> -->
              <li class="active"><a href="./trainers.html">Our trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social-navbar">
              <li><a href="https://facebook.com" class="social-link" title="facebook"><span class="social-icon fb-icon"></span></a></li>
              <li><a href="https://twitter.com" class="social-link" title="twitter"><span class="social-icon tw-icon"></span></a></li>
              <li><a href="https://instagramm.com" class="social-link" title="instagram"><span class="social-icon insta-icon"></span></a></li>
              <li><a href="https://youtube.com" class="social-link" title="youtube"><span class="social-icon youtube-icon"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div id='scripts' class="hidden ">
      <script   src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
      <script>
        $(document).ready(function(){
          // touch events
          $(".carousel").swipe({
            swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
              if (direction == 'left') $(this).carousel('next');
              if (direction == 'right') $(this).carousel('prev');
            },
            allowPageScroll:"vertical"
          });
          // trainers carousel
          $('#trainersCarousel .item').each(function(){
            var next = $(this).next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length>0) {
              next.next().children(':first-child').clone().appendTo($(this));
            }
            else {
              $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
          });
          $("#trainersCarousel").carousel({
            interval:10000
          });
          // reviews carousel
          $('#reviewslider .item').each(function(){
            var next = $(this).next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));
          });
          $("#reviewslider").carousel({
            interval:10000
          });
        });
      </script>
      <script>
      $(document).ready(function(){
        $(function() {
            var $el, leftPos, newWidth,
                $mainNav = $('#primaryNav');
            $mainNav.append("<li id='magic-line'></li>");
            var $magicLine = $("#magic-line");
            if($('#nav li').hasClass('active')) {
                $magicLine
                    .css({
                        "left": $('#primaryNav').find("li.active").position().left,
                        "width": $('#primaryNav li.active a').width()
                    }).data("origLeft", $magicLine.position().left);
            } else {
                $magicLine
                    .css({
                        "left": -9999,
                        "width": $('#primaryNavli:first a').width()
                    }).data("origLeft", $magicLine.position().left);
            }
            $('#primaryNav').find("li:not(#magic-line)").hover(function() {
                $el = $(this);
                leftPos = $el.position().left;
                newWidth = $el.children().width();
                $magicLine.stop().animate({
                    left: leftPos,
                    width: newWidth
                });
            }, function() {
                $magicLine.stop().animate({
                    left: $magicLine.data("origLeft"),
                    width: $('#primaryNav li.active a').width()
                });
            });
        });
      });
      </script>
      <script>
        // var fallbacks = document.getElementById('scripts'),
        //        script = document.createElement('script');
        //
        // if (!window.jQuery){
        //    var jquery = './lib/jquery/dist/jquery.min.js';
        //    script.setAttribute('src', jquery);
        //    script.setAttribute('defer', "defer");
        //    fallbacks.appendChild(script);
        // }
        // if (typeof(jQuery.fn.modal) !== 'undefined'){
        //   var bootstrap = './lib/bootstrap/dist/js/bootstrap.min.js';
        //   script.setAttribute('src', bootstrap);
        //   script.setAttribute('defer', "defer");
        //   fallbacks.appendChild(bootstrap);
        // }
      </script>
      <script>
        // trainers stats script
        if (document.querySelectorAll('.stat-value')){
          var stats = document.querySelectorAll('.stat-value');
          for (var stat of stats){
            let val = stat.dataset.size;
            let span = document.createElement('div');
            span.classList += 'stat-length';
            span.style.width = val*2+'px';
            stat.appendChild(span);
            stat.innerHTML += val+"%";
          }
        }
      </script>
      <script>
          function initMap() {
            var uluru = {lat: 55.74811, lng: 37.7644236};
            var mapCenter = {lat: 55.74811, lng: 37.7664236};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18,
              center: mapCenter
          });
          var marker = './images/marker.png';
          var marker = new google.maps.Marker({
              position: uluru,
              icon: marker,
              map: map
          });
          var customStyled = [
          {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          }
        ];
        map.set('styles',customStyled);
          }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNAatENUDbw8EQgvqRGtz2H30HID3-m_4&callback=initMap"></script>
    </div>
  </body>
</html>
