<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css" media='all'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/main.css" media='all'>
    <!-- <link rel="stylesheet" href="/css/xs.css" media='screen and (max-width:576px)'>
    <link rel="stylesheet" href="/css/sm.css" media='screen and (min-width:576px)'>
    <link rel="stylesheet" href="/css/md.css" media='screen and (min-width:768px)'>
    <link rel="stylesheet" href="/css/lg.css" media='screen and (min-width:992px)'>
    <link rel="stylesheet" href="/css/xl.css" media='screen and (min-width:1200px)'> -->
    <meta name="description" content="Fitness website template">
    <meta name="keywords" content="fitness, health, sports">

  </head>
  <body class="home-page">
    <header class="site-header header">
      <nav class="navbar navbar-transparent">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
              <a class="brand-title" href="./index.html">Fitness <br><span>CENTER</span></a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="topNavbar">
            <div class="navbar-left">
              <a href="tel:78342321251" class="navbar-tel tel-icon btn btn-lg btn-transparent">7(834)232-12-51</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./index.html">Home</a></li>
              <!-- <li><a href="./about.html">About us</a></li> -->
              <li><a href="./trainers.html">Our trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
              <hr id="nav_slide_hover">
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content container-fluid">
      <section class="row hero-header">
        <div id="heroCarousel" class="carousel vertical slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#heroCarousel" data-slide-to="0" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="1" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="2" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="3" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="4" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="5" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="6" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item active">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container hero-caption">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="./trainers.html" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#heroCarousel" data-slide="prev" aria-label="previous slide"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#heroCarousel" data-slide="next" aria-label="next slide"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </section>
      <section class="section row">
        <div class="container classes-man">
          <div class="well classes-thumbnail classes-header">
            <div class="section-title-sup"><span class="section-icon muscles-icon"></span></div>
            <h3 class="section-title">Training for men</h3>
            <div class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <a href="./classes.html" class="btn btn-transparent more">Show all</a>
          </div>
          <a class="well classes-thumbnail classes-gym" aria-label="Gym" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Gym</span>
          </a>
          <a class="well classes-thumbnail classes-boxing" aria-label="Boxing" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Boxing</span>
          </a>
          <a class="well classes-thumbnail classes-crossfit" aria-label="CrossFit" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">CrossFit</span>
          </a>
        </div>
      </section>
      <section class="section row">
        <div class="container classes-woman">
          <div class="well classes-thumbnail classes-header">
            <div class="section-title-sup"><span class="section-icon excersize-icon"></span></div>
            <h3 class="section-title">Training for women</h3>
            <div class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <a href="./classes.html" class="btn btn-transparent more">Show all</a>
          </div>
          <a class="well classes-thumbnail classes-yoga" aria-label="Yoga" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Yoga</span>
          </a>
          <a class="well classes-thumbnail classes-fitness" aria-label="Fitness" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Fitness</span>
          </a>
          <a class="well classes-thumbnail classes-stretching" aria-label="Stretching" href="./classes.html">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Stretching</span>
          </a>
        </div>
      </section>
      <section class="section row trainers-carousel">
        <div class="container">
          <div class="trainers-carousel-header">
            <h2 class="section-title">OUR TRAINERS</h2>
            <a href="./trainers.html" class="btn btn-lg btn-filled">View all</a>
          </div>
          <div id="trainersCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#trainersCarousel" data-slide-to="0" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="1" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="2" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="3" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="4" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="5" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <div class="item-inner">
                  <img alt="Trainer" src="./images/trainer-1.png" class="trainer-thumbnail">
                  <div class="carousel-caption">
                      <h3 class="trainers-name">Victoria Kilman</h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-2.png" class="trainer-thumbnail">
                    <div class="carousel-caption">
                        <h3 class="trainers-name">Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-3.png" class="trainer-thumbnail">
                    <div class="carousel-caption">
                        <h3 class="trainers-name">Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-1.png" class="trainer-thumbnail">
                    <div class="carousel-caption">
                        <h3 class="trainers-name">Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-2.png" class="trainer-thumbnail">
                    <div class="carousel-caption">
                        <h3 class="trainers-name">Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item active">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-3.png" class="trainer-thumbnail">
                    <div class="carousel-caption">
                        <h2 class="trainers-name">Victoria Kilman</h2>
                    </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#trainersCarousel" data-slide="prev" aria-label="previous slide" title="slide left"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#trainersCarousel" data-slide="next" aria-label="next slide" title="slide right"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </section>
      <section class="section row news-feed">
        <div class="container">
          <div class="news-feed-header">
            <h2 class="section-title">NEWS OF OUR GYM</h2>
            <a href="./news.html" class="btn btn-lg btn-filled">View all</a>
          </div>
        </div>
        <div class="container news-wrapper">
          <a href="./news.html" class="news-link">
            <article class="news-item">
              <img  alt="news thumbnail" src="./images/news-thumbnail-1.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">He made the first step!</h3>
              </div>
            </article>
          </a>
          <a href="./news.html" class="news-link">
            <article class="news-item">
              <img  alt="news thumbnail" src="./images/news-thumbnail-2.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Our beautiful bridesmaids</h3>
              </div>
            </article>
          </a>
          <a href="./news.html" class="news-link">
            <article class="news-item">
              <img  alt="news thumbnail" src="./images/news-thumbnail-3.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Inspiration fitness video</h3>
              </div>
            </article>
          </a>
          <a href="./news.html" class="news-link">
            <article class="news-item">
              <img  alt="news thumbnail" src="./images/news-thumbnail-4.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Church has just been released</h3>
              </div>
            </article>
          </a>
        </div>
      </section>
      <aside class="section row banner">
        <div class="container">
          <div class="yoga-banner-header">
            <span class="yoga-banner-title-sup">New workouts</span>
            <h2 class="yoga-banner-title">SPECIAL FITNESS TRAINING <span class="title-caption">FOR PREGNANT WOMEN</span></h2>
            <a href="./classes.html" class="btn btn-lg btn-filled">Go to workout</a>
          </div>
        </div>
      </aside>
      <section class="section row reviews-carousel">
        <div class="container">
          <div class="reviews-header">
            <h2 class="reviews-title">REVIEWS <br> ABOUT OUR TEAM</h2>
            <a href="./classes.html" class="btn btn-lg btn-filled">View all</a>
          </div>
        </div>
        <div class="container">
          <div id="reviewslider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#reviewslider" data-slide-to="0" class=""></li>
              <li data-target="#reviewslider" data-slide-to="1" class=""></li>
              <li data-target="#reviewslider" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <div class="item-inner col-xs-12 col-md-6">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-1.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="#"><span class="quote left">&ldquo;</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      <span class="quote right">&rdquo;</span></blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner  col-xs-12 col-md-6">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-2.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="./review.html"><span class="quote left">&ldquo;</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      <span class="quote right">&rdquo;</span></blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item active">
                <div class="item-inner col-xs-12 col-md-6">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-3.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="./review.html"><span class="quote left">&ldquo;</span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      <span class="quote right">&rdquo;</span></blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#reviewslider" data-slide="prev" title="slide left"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#reviewslider" data-slide="next" title="slide right"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </section>
      <section class="section row instagallery">
        <div class="container-fluid">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 col-xs-push-0 col-sm-push-0 col-md-push-0 col-xl-push-2 instagallery-header">
            <h2 class="instagallery-title">OUR <br> INSTAGRAM</h2>
            <a href="https://instagram.com" class="btn btn-lg btn-filled">Subscribe</a>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-1.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-1.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-3.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-4.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-5.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-6.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-7.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-8.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-9.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-10.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-11.png" alt="insta" class="gallery-thumbnail"></div>
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 col-xl-1 gallery-item"><img src="./images/instagallery-12.png" alt="insta" class="gallery-thumbnail"></div>
        </div>
      </section>
    </div>
    <footer class="container-fluid site-footer">
      <div class="section row map">
        <div id="map">
        </div>
      </div>
      <div class="section row footer-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a class="brand-title" href="./index.html">Fitness <br><span>CENTER</span></a>
            </div>
          </div>
          <div id="footerNavbar">
            <ul class="nav navbar-nav navbar-left">
              <li class="active"><a href="./index.html">Home</a></li>
              <!-- <li><a href="./about.html">About us</a></li> -->
              <li><a href="./trainers.html">Our trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right social-navbar">
              <li><a href="https://facebook.com" class="social-link" title="facebook"><span class="social-icon fb-icon"></span></a></li>
              <li><a href="https://twitter.com" class="social-link" title="twitter"><span class="social-icon tw-icon"></span></a></li>
              <li><a href="https://instagramm.com" class="social-link" title="instagram"><span class="social-icon insta-icon"></span></a></li>
              <li><a href="https://youtube.com" class="social-link" title="youtube"><span class="social-icon youtube-icon"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div id='scripts' class="hidden ">
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js"></script>
      <script>
      $(document).ready(function(){
        // touch events
        $(".carousel").swipe({
          swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
            if (direction == 'left') $(this).carousel('next');
            if (direction == 'right') $(this).carousel('prev');
          },
          allowPageScroll:"vertical"
        });
        // trainers carousel
        $('#trainersCarousel .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          if (next.next().length>0) {
            next.next().children(':first-child').clone().appendTo($(this));
          }
          else {
          	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
          }
        });
        $("#trainersCarousel").carousel({
          interval:10000
        });
        // reviews carousel
        $('#reviewslider .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
        });
        $("#reviewslider").carousel({
          interval:10000
        });
      });
      </script>
      <script>
        /**
        * If you have LESS than one navbar, then just do
        * let menu = document.getElementsByClassName( 'nav' )[0];
        */
        let menu = document.getElementsByClassName( 'nav' );
        // Values are set.
        if ( menu ) {

        // HOVER
        let menu_slider_hover = document.getElementById( 'nav_slide_hover' );
        if ( menu_slider_hover ) {
          nav_slider( menu[0], function( el, width, tempMarginLeft ) {
            el.onmouseover = () => {
              menu_slider_hover.style.width =  width + '%';
              menu_slider_hover.style.marginLeft = tempMarginLeft + '%';
            }
          });
        }

        // CLICK
        let menu_slider_click = document.getElementById( 'nav_slide_click' );
        if ( menu_slider_click ) {
          nav_slider( menu[1], function( el, width, tempMarginLeft ) {
            el.onclick = () => {
              menu_slider_click.style.width =  width + '%';
              menu_slider_click.style.marginLeft = tempMarginLeft + '%';
            }
          });
        }

        } // endif

        function nav_slider( menu, callback ) {
        let menu_width = menu.offsetWidth;
        // We only want the <li> </li> tags
        menu = menu.getElementsByTagName( 'li' );
        if ( menu.length > 0 ) {
          var marginLeft = [];
          // Loop through nav children i.e li
          [].forEach.call( menu, ( el, index ) => {
            // Dynamic width/margin calculation for hr
            var width = getPercentage( el.offsetWidth, menu_width );
            var tempMarginLeft = 0;
            // We don't want to modify first elements positioning
            if ( index != 0 )  {
              tempMarginLeft = getArraySum( marginLeft );
            }
            // Set mouse event  hover/click
            callback( el, width, tempMarginLeft );
            /* We store it in array because the later accumulated value is used for positioning */
            marginLeft.push( width );
          } );
        }
        }

        // Might make this dynamic for px, %, pt, em
        function getPercentage( min, max ) {
        return min / max * 100;
        }

        // Not using reduce, because IE8 doesn't supprt it
        function getArraySum( arr ) {
        let sum = 0;
        [].forEach.call( arr, ( el, index ) => {
          sum += el;
        } );
        return sum;
        }

      </script>
      <script>
        // trainers stats script
        if (document.querySelectorAll('.stat-value')){
          var stats = document.querySelectorAll('.stat-value');
          for (var stat of stats){
            let val = stat.dataset.size;
            let span = document.createElement('div');
            span.classList += 'stat-length';
            span.style.width = val*2+'px';
            stat.appendChild(span);
            stat.innerHTML += val+"%";
          }
        }
      </script>
      <script>
        // var fallbacks = document.getElementById('scripts'),
        //        script = document.createElement('script');
        //
        // if (!window.jQuery){
        //    var jquery = './lib/jquery/dist/jquery.min.js';
        //    script.setAttribute('src', jquery);
        //    script.setAttribute('defer', "defer");
        //    fallbacks.appendChild(script);
        // }
        // if (typeof(jQuery.fn.modal) !== 'undefined'){
        //   var bootstrap = './lib/bootstrap/dist/js/bootstrap.min.js';
        //   script.setAttribute('src', bootstrap);
        //   script.setAttribute('defer', "defer");
        //   fallbacks.appendChild(bootstrap);
        // }
      </script>
      <script>
          function initMap() {
            var uluru = {lat: 55.74811, lng: 37.7644236};
            var mapCenter = {lat: 55.74811, lng: 37.7664236};
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 18,
              center: mapCenter
          });
          var marker = './images/marker.png';
          var marker = new google.maps.Marker({
              position: uluru,
              icon: marker,
              map: map
          });
          var customStyled = [
          {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "transit",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          }
        ];
        map.set('styles',customStyled);
          }
      </script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNAatENUDbw8EQgvqRGtz2H30HID3-m_4&callback=initMap"></script>
    </div>
  </body>
</html>
