<!DOCTYPE html>
<html lang="{{site.lang | default:en-US}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css" media='all'>
    <link rel="stylesheet" href="./css/main.css" media='all'>
    <!-- <link rel="stylesheet" href="/css/xs.css" media='screen and (max-width:576px)'>
    <link rel="stylesheet" href="/css/sm.css" media='screen and (min-width:576px)'>
    <link rel="stylesheet" href="/css/md.css" media='screen and (min-width:768px)'>
    <link rel="stylesheet" href="/css/lg.css" media='screen and (min-width:992px)'>
    <link rel="stylesheet" href="/css/xl.css" media='screen and (min-width:1200px)'> -->
    <meta name="description" content="Fitness website template">
    <meta name="keywords" content="fitness, health, sports">

  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-transparent">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
              <a class="brand-title" href="#">Fitness <br><span>CENTER</span></a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="topNavbar">
            <div class="navbar-left">
              <a href="tel:78342321251" class="navbar-tel tel-icon btn btn-lg btn-transparent">7(834)232-12-51</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="./about.html">About us</a></li>
              <li><a href="./trainers.html">Our trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content container-fluid">
      <section class="row hero-header">
        <div id="heroCarousel" class="carousel vertical slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#heroCarousel" data-slide-to="0" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="1" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="2" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="3" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="4" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="5" class=""></li>
            <li data-target="#heroCarousel" data-slide-to="6" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
            <div class="item active">
              <img src="/images/heroSlide1.png" alt="Nice woman trainer">
              <div class="carousel-caption">
                <div class="container">
                  <span class="hero-title-sup">With us you will be better</span>
                  <h2 class="hero-title">CHOOSE A TRAINER <br> WITH WHOM YOU WANT <br> TO BECOME A BETTER PERSON</h2>
                  <a href="#" class="btn btn-lg btn-border">Choose a trainer</a>
                </div>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#heroCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <a class="right carousel-control" href="#heroCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </section>
      <section class="section row">
        <div class="container classes-man">
          <div class="well classes-thumbnail classes-header">
            <div class="section-title-sup"><span class="section-icon muscles-icon"></span></div>
            <h3 class="section-title">Training for men</h3>
            <div class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <a href="" class="btn btn-transparent more">Show all</a>
          </div>
          <a class="well classes-thumbnail classes-gym" aria-label="Gym">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Gym</span>
          </a>
          <a class="well classes-thumbnail classes-boxing" aria-label="Boxing">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Boxing</span>
          </a>
          <a class="well classes-thumbnail classes-crossfit" aria-label="CrossFit">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">CrossFit</span>
          </a>
        </div>
      </section>
      <section class="section row">
        <div class="container classes-woman">
          <div class="well classes-thumbnail classes-header">
            <div class="section-title-sup"><span class="section-icon excersize-icon"></span></div>
            <h3 class="section-title">Training for women</h3>
            <div class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
            <a href="" class="btn btn-transparent more">Show all</a>
          </div>
          <a class="well classes-thumbnail classes-yoga" aria-label="Yoga">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Yoga</span>
          </a>
          <a class="well classes-thumbnail classes-fitness" aria-label="Fitness">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Fitness</span>
          </a>
          <a class="well classes-thumbnail classes-stretching" aria-label="Stretching">
            <div class="classes-thumbnail--overlay"><span class="btn btn-lg btn-border">Learn more</span></div>
            <span class="classes-title">Stretching</span>
          </a>
        </div>
      </section>
      <section class="section row trainers-carousel">
        <div class="container">
          <div class="trainers-carousel-header">
            <h2 class="section-title">OUR TRAINERS</h2>
            <a href="#" class="btn btn-lg btn-filled">View all</a>
          </div>
          <div id="trainersCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#trainersCarousel" data-slide-to="0" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="1" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="2" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="3" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="4" class=""></li>
              <li data-target="#trainersCarousel" data-slide-to="5" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <div class="item-inner">
                  <img alt="Trainer" src="./images/trainer-1.png">
                  <div class="carousel-caption">
                      <h3>Victoria Kilman</h3>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-2.png">
                    <div class="carousel-caption">
                        <h3>Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-3.png">
                    <div class="carousel-caption">
                        <h3>Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-1.png">
                    <div class="carousel-caption">
                        <h3>Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-2.png">
                    <div class="carousel-caption">
                        <h3>Victoria Kilman</h3>
                    </div>
                </div>
              </div>
              <div class="item active">
                  <div class="item-inner">
                    <img alt="Trainer" src="./images/trainer-3.png">
                    <div class="carousel-caption">
                        <h2>Victoria Kilman</h2>
                    </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#trainersCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#trainersCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </section>
      <section class="section row news-feed">
        <div class="container">
          <div class="news-feed-header">
            <h2 class="section-title">NEWS OF OUR GYM</h2>
            <a href="#" class="btn btn-lg btn-filled">View all</a>
          </div>
        </div>
        <div class="container news-wrapper">
          <a href="#" class="news-link">
            <article class="news-item">
              <img  alt="" src="./images/news-thumbnail-1.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">He made the first step!</h3>
              </div>
            </article>
          </a>
          <a href="#" class="news-link">
            <article class="news-item">
              <img  alt="" src="./images/news-thumbnail-2.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Our beautiful bridesmaids</h3>
              </div>
            </article>
          </a>
          <a href="#" class="news-link">
            <article class="news-item">
              <img  alt="" src="./images/news-thumbnail-3.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Inspiration fitness video</h3>
              </div>
            </article>
          </a>
          <a href="#" class="news-link">
            <article class="news-item">
              <img  alt="" src="./images/news-thumbnail-4.png" class="news-thumbnail">
              <div class="news-item-description">
                <div class="meta">21.05.2018</div>
                <h3 class="news-item-title">Church has just been released</h3>
              </div>
            </article>
          </a>
        </div>
      </section>
      <section class="section row banner">
        <aside class="container">
          <div class="yoga-banner-header">
            <span class="yoga-banner-title-sup">New workouts</span>
            <h2 class="yoga-banner-title">SPECIAL FITNESS TRAINING <span class="title-caption">FOR PREGNANT WOMEN</span></h2>
            <a href="#" class="btn btn-lg btn-filled">Go to workout</a>
          </div>
        </aside>
      </section>
      <section class="section row reviews-carousel">
        <div class="container">
          <div class="reviews-header">
            <h2 class="reviews-title">REVIEWS ABOUT OUR TEAM</h2>
            <a href="#" class="btn btn-lg btn-filled">View all</a>
          </div>
        </div>
        <div class="container">
          <div id="reviewslider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#reviewslider" data-slide-to="0" class=""></li>
              <li data-target="#reviewslider" data-slide-to="1" class=""></li>
              <li data-target="#reviewslider" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item">
                <div class="item-inner">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-1.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="#">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="item-inner">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-2.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="#">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item active">
                <div class="item-inner">
                  <img alt="Johnny Bobson avatar" src="./images/review-avatar-3.png">
                  <div class="well">
                    <div class="carousel-caption">
                      <h3 class="reviewer">Johnny Bobson</h3>
                      <span class="reviewer-occupation">New Orleans Centre</span>
                      <blockquote cite="#">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero aut perspiciatis tempore temporibus assumenda recusandae maxime cupiditate eligendi tempora, aperiam facere provident laboriosam. Veniam sint fuga in excepturi velit quasi.
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#reviewslider" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#reviewslider" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
        </div>
      </section>
    </div>
          <section class="section-expand"></section>
    <footer>

    </footer>
    <div id='scripts' class="hidden ">
      <script   src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script>
      $(document).ready(function(){
        $('#trainersCarousel .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          if (next.next().length>0) {
            next.next().children(':first-child').clone().appendTo($(this));
          }
          else {
          	$(this).siblings(':first').children(':first-child').clone().appendTo($(this));
          }
        });
        $("#trainersCarousel").carousel({
          interval:10000
        });
      });
      $(document).ready(function(){
        $('#reviewslider .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));

          // if (next.next().length>0) {
          //   next.next().children(':first-child').clone().appendTo($(this));
          // }
          // else {
          //   $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
          // }
        });
        $("#reviewslider").carousel({
          interval:10000
        });
      });
      </script>
      <script>
        // var fallbacks = document.getElementById('scripts'),
        //        script = document.createElement('script');
        //
        // if (!window.jQuery){
        //    var jquery = './lib/jquery/dist/jquery.min.js';
        //    script.setAttribute('src', jquery);
        //    script.setAttribute('defer', "defer");
        //    fallbacks.appendChild(script);
        // }
        // if (typeof(jQuery.fn.modal) !== 'undefined'){
        //   var bootstrap = './lib/bootstrap/dist/js/bootstrap.min.js';
        //   script.setAttribute('src', bootstrap);
        //   script.setAttribute('defer', "defer");
        //   fallbacks.appendChild(bootstrap);
        // }
      </script>
    </div>
  </body>
</html>
