<!DOCTYPE html>
<html lang="{{site.lang | default:en-US}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fitness</title>
    <link rel="stylesheet" href="./lib/bootstrap/dist/css/bootstrap.min.css" media='all'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="./css/main.css" media='all'>
    <!-- <link rel="stylesheet" href="/css/xs.css" media='screen and (max-width:576px)'>
    <link rel="stylesheet" href="/css/sm.css" media='screen and (min-width:576px)'>
    <link rel="stylesheet" href="/css/md.css" media='screen and (min-width:768px)'>
    <link rel="stylesheet" href="/css/lg.css" media='screen and (min-width:992px)'>
    <link rel="stylesheet" href="/css/xl.css" media='screen and (min-width:1200px)'> -->
    <meta name="description" content="Fitness website template">
    <meta name="keywords" content="fitness, health, sports">
  </head>
  <body class='template-lesson'>
    <header class="site-header">
      <nav class="navbar navbar-transparent">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topNavbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
              <a class="brand-title" href="#">Fitness <br><span>CENTER</span></a>
            </div>
          </div>
          <div class="collapse navbar-collapse" id="topNavbar">
            <div class="navbar-left">
              <a href="tel:78342321251" class="navbar-tel tel-icon btn btn-lg btn-transparent">7(834)232-12-51</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="./about.html">About us</a></li>
              <li><a href="./trainers.html">Our Trainers</a></li>
              <li><a href="./news.html">News</a></li>
              <li class="active"><a href="./classes.html">Classes</a></li>
              <li><a href="./contacts.html">Contacts</a></li>
              <li><a href="./reviews.html">Reviews</a></li>
              <hr id="nav_slide_hover">
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content container-fluid">
      <section class="section row classes-hero page-hero">
        <div class="container hero-caption">
          <div class="breadcrumbs">
            <a href="/index.html" class="home-link breadcrumbs-link">Home</a>
            <span class="breadcrumbs-divider">&middot;</span>
            <span class="breadcrumbs-current">Classes</span>
            <span class="breadcrumbs-divider">&middot;</span>
            <span class="breadcrumbs-current">Lesson</span>
          </div>
          <h1 class="hero-title">LESSON</h1>
          <span class="hero-title-sub">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam accusamus architecto natus vero consequatur, minima mollitia, eos culpa impedit.
          </span>
        </div>
      </section>
      <section class="section row training">
        <div class="col-xs-12 col-md-6 training-thumbnail-wrapper">
          <img src="./images/trainer-1.png" alt="" class="trainer-thumbnail img-responsive">
        </div>
        <div class="col-xs-12 col-md-6 training-bio">
          <h2 class="trainers-name">FITNESS</span></h2>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus, officiis repellendus unde ipsum autem rem, ullam dolorem. Obcaecati illum molestiae, fuga nihil rerum reiciendis exercitationem nam! Sit, ut totam.</p>
          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi delectus, officiis repellendus unde ipsum autem rem, ullam dolorem. Obcaecati illum molestiae, fuga nihil rerum reiciendis exercitationem nam! Sit, ut totam.</p>
          <h3 class="training-header">Training Skills</h3>
          <div class="trainers-stats">
            <div class="stats-row">
              <span class="stat-label">Educability</span><span class="stat-value"data-size='95'></span>
            </div>
            <div class="stats-row">
              <span class="stat-label">Expirience</span><span class="stat-value"data-size='80'></span>
            </div>
            <div class="stats-row">
              <span class="stat-label">Skills</span><span class="stat-value"data-size='65'></span>
            </div>
          </div>
        </div>
      </div>
      </section>
      <section class="section row training-info">
        <div class="container">
          <div class="col-xs-12 col-md-6">
            <div class="coach-bio">
              <h3 class="coach-name">Victoria</h3>
              <span class="lead coach-motto">The Coach will pump you full</span>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias pariatur nesciunt ratione? Corporis, libero unde tempora tenetur dolorum molestias, atque distinctio modi placeat praesentium numquam porro accusantium nemo facilis dolores.</p>
            </div>
            <form class="schedule" action="#" method="POST">
              <h3 class="title">Event Hours</h3>
              <div class="tabs-wrapper">
                <input type="radio" name="tab" value="SUN" id="tab1" class="hidden" checked><label for="tab1">SUN</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time1" class="hidden">
                  <label for="time1">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time2" class="hidden">
                  <label for="time2">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time3" class="hidden" disabled>
                  <label for="time3">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time4" class="hidden">
                  <label for="time4">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time5" class="hidden" disabled>
                  <label for="time5">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time6" class="hidden">
                  <label for="time6">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="MON" id="tab2" class="hidden"><label for="tab2">MON</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time7" class="hidden">
                  <label for="time7">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time8" class="hidden">
                  <label for="time8">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time9" class="hidden">
                  <label for="time9">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time10" class="hidden">
                  <label for="time10">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time11" class="hidden" disabled>
                  <label for="time11">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time12" class="hidden" disabled>
                  <label for="time12">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="TUE" id="tab3" class="hidden"><label for="tab3">TUE</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time13" class="hidden">
                  <label for="time13">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time14" class="hidden">
                  <label for="time14">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time15" class="hidden">
                  <label for="time15">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time16" class="hidden" disabled>
                  <label for="time16">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time17" class="hidden" disabled>
                  <label for="time17">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time18" class="hidden">
                  <label for="time18">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="WED" id="tab4" class="hidden"><label for="tab4">WED</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time19" class="hidden">
                  <label for="time19">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time20" class="hidden">
                  <label for="time20">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time21" class="hidden">
                  <label for="time21">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time22" class="hidden">
                  <label for="time22">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time23" class="hidden">
                  <label for="time23">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time24" class="hidden">
                  <label for="time24">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="THU" id="tab5" class="hidden"><label for="tab5">THU</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time25" class="hidden">
                  <label for="time25">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time26" class="hidden">
                  <label for="time26">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time27" class="hidden">
                  <label for="time27">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time28" class="hidden" disabled>
                  <label for="time28">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time29" class="hidden">
                  <label for="time29">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time30" class="hidden">
                  <label for="time30">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="FRI" id="tab6" class="hidden"><label for="tab6">FRI</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time31" class="hidden">
                  <label for="time31">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time32" class="hidden" disabled>
                  <label for="time32">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time33" class="hidden">
                  <label for="time33">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time34" class="hidden">
                  <label for="time34">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time35" class="hidden">
                  <label for="time35">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time36" class="hidden">
                  <label for="time36">06:00pm - 07:30pm</label>
                </div>
                <input type="radio" name="tab" value="SAT" id="tab7" class="hidden"><label for="tab7">SAT</label><div class="tab-content">
                  <input type="checkbox" name="time" value="6" id="time37" class="hidden" disabled><label for="time37">06:00am - 07:30am</label>
                  <input type="checkbox" name="time" value="8" id="time38" class="hidden"><label for="time38">08:00am - 09:30am</label>
                  <input type="checkbox" name="time" value="10" id="time39" class="hidden"><label for="time39">10:00am - 11:30am</label>
                  <input type="checkbox" name="time" value="14" id="time40" class="hidden"><label for="time40">02:00pm - 03:30pm</label>
                  <input type="checkbox" name="time" value="16" id="time41" class="hidden"><label for="time41">04:00pm - 05:30pm</label>
                  <input type="checkbox" name="time" value="18" id="time42" class="hidden"><label for="time42">06:00pm - 07:30pm</label>
                </div>
              </div>
              <input id="scheduleSubmit" type="submit" class="btn btn-lg btn-filled" value="Join Class Now">
              <script>
                var wrapper = document.querySelector('.tabs-wrapper');
                var tabs = document.querySelectorAll('input[name="tab"]');
                var submit = document.getElementById('scheduleSubmit');
                var checkedTime = new Object();
                for (let i=0; i<tabs.length; i++){
                  var scedule = tabs[i].nextSibling.nextSibling.querySelectorAll('input[name="time"]');
                  for(let j=0; j<scedule.length; j++){
                    var l;
                    scedule[j].addEventListener('change',function(){
                      if(this.checked) {
                        Object.keys(checkedTime).length !== 0 ? l++ : l = 1;
                        checkedTime[l] = tabs[i].value+' '+scedule[j].value;
                        var e = encodeURIComponent(JSON.stringify(checkedTime));
                        console.log(checkedTime[l]);
                        console.log(e);
                      } else {
                        // for(var k = 0; k < Object.values(checkedTime).length; k++) {
                        //     if(Object.values(checkedTime)[k] == tabs[i].value+' '+scedule[j].value) {
                        //         Object.values(checkedTime).splice(k, 1);
                        //         // break;
                        //     }
                        // }
                        // //find & remove in object this value
                        // // Object.values(checkedTime).
                        // console.log('urrrrg!!');
                        // console.log(checkedTime[l]);
                        // console.log(checkedTime);
                        // console.log(e);
                      }
                    });
                  }
                }
                console.log(window.location.href);
                submit.addEventListener('submit', function(event){
                  event.preventDefault();
                  console.log(window.location.href);
                  console.log(checkedTime);
                  var xhr = new XMLHttpRequest();
                  xhr.open('POST', window.location.href+e);
                  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                  xhr.onload = function() {
                      if(xhr.status===200&&xhr.responseText!==checkedTime){
                          alert('Something went wrong.  Name is now ' + xhr.responseText);
                      }
                      else if (xhr.status !== 200) {
                          alert('Request failed.  Returned status of ' + xhr.status);
                      }
                  };
                  xhr.send(encodeURI('name=' + checkedTime ));
                });
              </script>
            </form>
          </div>
          <div class="col-xs-12 col-md-6">
            <h3 class="title">Gallery</h3>
            <div class="gallery-wrapper">
              <img src="./images/instagallery-1.png" alt="" class="gallery-thumbnail">
              <img src="./images/instagallery-2.png" alt="" class="gallery-thumbnail">
              <img src="./images/instagallery-3.png" alt="" class="gallery-thumbnail">
              <img src="./images/instagallery-4.png" alt="" class="gallery-thumbnail">
              <img src="./images/instagallery-5.png" alt="" class="gallery-thumbnail">
              <img src="./images/instagallery-6.png" alt="" class="gallery-thumbnail">
            </div>
          </div>
        </div>
      </section>
    </div>
<footer class="container-fluid site-footer">
  <section class="section row map">
    <div id="map">
    <script>
        function initMap() {
          var uluru = {lat: 55.74811, lng: 37.7644236};
          var mapCenter = {lat: 55.74811, lng: 37.7664236};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: mapCenter
        });
        var marker = './images/marker.png';
        var marker = new google.maps.Marker({
            position: uluru,
            icon: marker,
            map: map
        });
        var customStyled = [
        {
          "featureType": "poi",
          "elementType": "labels.text",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "poi.business",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "featureType": "transit",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        }
      ];
      map.set('styles',customStyled);
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNAatENUDbw8EQgvqRGtz2H30HID3-m_4&callback=initMap"></script>
  </section>
  <section class="section row footer-navbar">
    <div class="container">
      <div class="navbar-header">
        <div class="navbar-brand">
          <a class="brand-title" href="#">Fitness <br><span>CENTER</span></a>
        </div>
      </div>
      <div id="footerNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/">Home</a></li>
          <li><a href="./about.html">About us</a></li>
          <li><a href="./trainers.html">Our trainers</a></li>
          <li><a href="./news.html">News</a></li>
          <li class="active"><a href="./classes.html">Classes</a></li>
          <li><a href="./contacts.html">Contacts</a></li>
          <li><a href="./reviews.html">Reviews</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right social-navbar">
          <li><a href="#" class="social-link" title="facebook"><span class="social-icon fb-icon"></span></a></li>
          <li><a href="#" class="social-link" title="twitter"><span class="social-icon tw-icon"></span></a></li>
          <li><a href="#" class="social-link" title="instagram"><span class="social-icon insta-icon"></span></a></li>
          <li><a href="#" class="social-link" title="youtube"><span class="social-icon youtube-icon"></span></a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
<div id='scripts' class="hidden ">
  <script   src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.18/jquery.touchSwipe.min.js" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
      // touch events
      $(".carousel").swipe({
        swipe: function(event, direction, distance, duration, fingerCount, fingerData) {
          if (direction == 'left') $(this).carousel('next');
          if (direction == 'right') $(this).carousel('prev');
        },
        allowPageScroll:"vertical"
      });
      // trainers carousel
      $('#trainersCarousel .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        if (next.next().length>0) {
          next.next().children(':first-child').clone().appendTo($(this));
        }
        else {
          $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
        }
      });
      $("#trainersCarousel").carousel({
        interval:10000
      });
      // reviews carousel
      $('#reviewslider .item').each(function(){
        var next = $(this).next();
        if (!next.length) {
          next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));
      });
      $("#reviewslider").carousel({
        interval:10000
      });
    });
  </script>
  <script>
    /**
    * If you have LESS than one navbar, then just do
    * let menu = document.getElementsByClassName( 'nav' )[0];
    */
    let menu = document.getElementsByClassName( 'nav' );
    // Values are set.
    if ( menu ) {

    // HOVER
    let menu_slider_hover = document.getElementById( 'nav_slide_hover' );
    if ( menu_slider_hover ) {
      nav_slider( menu[0], function( el, width, tempMarginLeft ) {
        el.onmouseover = () => {
          menu_slider_hover.style.width =  width + '%';
          menu_slider_hover.style.marginLeft = tempMarginLeft + '%';
        }
      });
    }

    // CLICK
    let menu_slider_click = document.getElementById( 'nav_slide_click' );
    if ( menu_slider_click ) {
      nav_slider( menu[1], function( el, width, tempMarginLeft ) {
        el.onclick = () => {
          menu_slider_click.style.width =  width + '%';
          menu_slider_click.style.marginLeft = tempMarginLeft + '%';
        }
      });
    }

    } // endif

    function nav_slider( menu, callback ) {
    let menu_width = menu.offsetWidth;
    // We only want the <li> </li> tags
    menu = menu.getElementsByTagName( 'li' );
    if ( menu.length > 0 ) {
      var marginLeft = [];
      // Loop through nav children i.e li
      [].forEach.call( menu, ( el, index ) => {
        // Dynamic width/margin calculation for hr
        var width = getPercentage( el.offsetWidth, menu_width );
        var tempMarginLeft = 0;
        // We don't want to modify first elements positioning
        if ( index != 0 )  {
          tempMarginLeft = getArraySum( marginLeft );
        }
        // Set mouse event  hover/click
        callback( el, width, tempMarginLeft );
        /* We store it in array because the later accumulated value is used for positioning */
        marginLeft.push( width );
      } );
    }
    }

    // Might make this dynamic for px, %, pt, em
    function getPercentage( min, max ) {
    return min / max * 100;
    }

    // Not using reduce, because IE8 doesn't supprt it
    function getArraySum( arr ) {
    let sum = 0;
    [].forEach.call( arr, ( el, index ) => {
      sum += el;
    } );
    return sum;
    }

  </script>
  <script>
    // var fallbacks = document.getElementById('scripts'),
    //        script = document.createElement('script');
    //
    // if (!window.jQuery){
    //    var jquery = './lib/jquery/dist/jquery.min.js';
    //    script.setAttribute('src', jquery);
    //    script.setAttribute('defer', "defer");
    //    fallbacks.appendChild(script);
    // }
    // if (typeof(jQuery.fn.modal) !== 'undefined'){
    //   var bootstrap = './lib/bootstrap/dist/js/bootstrap.min.js';
    //   script.setAttribute('src', bootstrap);
    //   script.setAttribute('defer', "defer");
    //   fallbacks.appendChild(bootstrap);
    // }
  </script>
  <script>
    // trainers stats script
    if (document.querySelectorAll('.stat-value')){
      var stats = document.querySelectorAll('.stat-value');
      for (var stat of stats){
        let val = stat.dataset.size;
        let span = document.createElement('div');
        span.classList += 'stat-length';
        span.style.width = val*2+'px';
        stat.appendChild(span);
        stat.innerHTML += val+"%";
      }
    }
  </script>
</div>
</body>
</html>
